<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="total/adTemp">

<th:block layout:fragment="adTitle">
	<title>관리자_애견관리</title>
</th:block>

<th:block layout:fragment="adContent">
	<h2 class="bhH2">애견관리</h2>
	<div>
		<table align="center" class="bhTable">
			<thead>
<!--검색폼-->
			<form action="" th:object="${bhDogsDTO}">
				<tr>
					<td colspan="9" align="center">
						<select th:field="*{kind}" class="bhSelLong">
							<option value="dname">강아지이름</option>
							<option value="breed">견종</option>
							<option value="pid">회원아이디</option>
							<option value="dogsize">사이즈</option>
						</select>
						<input type="text" th:field="*{sch}" class="bhInput"/>
						&nbsp;&nbsp; 강아지그룹
						<select th:field="*{grade}" class="bhSelShort">
							<option value="전체" th:text="전체"></option>
							<option value="일반" th:text="일반"></option>
							<option value="블랙" th:text="블랙"></option>
						</select>
						&nbsp;
						<input type="submit" value="검색" class="bhSearSub"/>
					</td>
				</tr>
			</form>
			
			<tr>
				<td>번호</td>
				<td>강아지</td>
				<td>견종</td>
				<td>회원이름</td>
				<td>회원아이디</td>
				<td>사이즈</td>
				<td>나이</td>
				<td>등급</td>
				<td>관리메모</td>
			</tr>
			</thead>
			
			<tbody>
			<tr th:each="dto, dtoStat: ${bhDogData}">
				<td th:text="${pd.start}+${dtoStat.index+1}"/>
				<td><a th:href="@{|/admin/dogInform/${dto.dname}/${dto.pid}|}" th:text="${dto.dname}" class="bhTA"/></td>
				<td th:text="${dto.breed}"/>
				<td th:text="${dto.pname}"/>
				<td th:text="${dto.pid}"/>
				<td th:text="${dto.dogsize}"/>
				<td th:text="${dto.dogBirthStr()}"/>
				<td th:text="${dto.grade}"/>
				<td th:text="${dto.memoChk()}"/>
			</tr>
			<tr> 
				<td colspan="9" align="center" style="height:30px;">
					<th:block th:if="${pd.startPage > 1}">
						<a th:href="${pd.nowPage-1}" th:text="이전"></a>
					</th:block>
					<span th:each="p : ${#numbers.sequence(pd.startPage, pd.endPage, 1)}" th:href="${p}">
						<th:block th:if="${pd.nowPage == p}"><button th:text="${p}" class="shp">[[${p}]]</button></th:block>
						<th:block th:unless="${pd.nowPage == p}"><a th:href="${p}" th:text="${p}"></a></th:block>
					</span>
					<th:block th:if="${pd.endPage < pd.totalPage}">
						<a th:href="${pd.endPage+1}" th:text="다음"></a>
					</th:block>
				</td>
			</tr>
			
			</tbody>
		</table>
		
	</div>
</th:block>

<th:block layout:fragment="adAdd-content">
</th:block>

</html>