<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="total/adTemp">

<th:block layout:fragment="adTitle">
	<title>관리자_애견수정</title>
</th:block>

<th:block layout:fragment="adContent">
	
<script>
	function trimInput() {
		var inputElement = document.getElementById('weight');
		var trimmedValue = inputElement.value.trim();
		
		console.log(trimmedValue);
		
   var getGrade = document.getElementById('grade').value;

    var inputChkBlackMemo = document.getElementById('blackMemo');
    var trimMemo = inputChkBlackMemo.value.trim();
		
		console.log(getGrade);
		console.log(inputChkBlackMemo);
		
		if(trimmedValue === "") {
			alert("무게 입력바랍니다.")
			return false; // Submit 막기
		} else if (parseInt(trimmedValue) <= 0) {
			alert("정확한 무게 입력바랍니다.")
			return false; // Submit 막기
		} 
		
		else if (getGrade === "일반") {
			if(trimMemo !== ""){
				alert("일반은 블랙 사유가 없어야 합니다.")
				return false; // Submit 막기
			}
		} else if (getGrade === "블랙") {
			if(trimMemo === ""){
				alert("블랙 사유를 입력해 주세요.")
				return false; // Submit 막기
			}
		} else {
			return true; // Submit 진행
		}
	}
</script>
	
	<h2 th:text="${bhDogData.dname}+' 강아지 정보 수정'" class="bhH2"> </h2>
	
	<form method="post" th:object="${bhDogData}">
		<table align="center" class="bhTableD">
			<tr>
				<td class="bhTableDColor">강아지이름</td><td th:text="${bhDogData.dname}"/>
				<td class="bhTableDColor">견종</td><td th:text="${bhDogData.breed}" />
			</tr><tr>
				<td class="bhTableDColor">사진</td>
				<td colspan="3">
					<img th:src="@{'/dimg/'+${bhDogData.photo}}" width="200px" alt="Image">
				</td>
			</tr><tr>
				<td class="bhTableDColor">회원아이디</td><td th:text="${bhDogData.pid}" />
				<td class="bhTableDColor">회원이름</td><td th:text="${bhMemData.pname}" />
			</tr><tr>
				<td class="bhTableDColor">무게</td>
				<td><input type="text" th:field="*{weight}" class="bhInput" required/></td>
				<td class="bhTableDColor">사이즈</td>
				<td>
					<select th:field="*{dogsize}" class="bhSelShort">
						<option value="소형견">소형견</option>
						<option value="중형견">중형견</option>
						<option value="대형견">대형견</option>
					</select>
				</td>
			</tr><tr>
				<td class="bhTableDColor">성별</td><td th:text="${bhDogData.gender}" />
				<td class="bhTableDColor">나이</td><td th:text="${bhDogData.dogBirthStr()}" />
			</tr><tr>
				<td class="bhTableDColor">특이사항</td><td th:text="${bhDogData.notes}" />
				<td class="bhTableDColor">등급</td>
				<td>
					<select th:field="*{grade}" class="bhSelShort">
						<option value="일반">일반</option>
						<option value="블랙">블랙</option>
					</select>
				</td>
			</tr><tr>
				<td class="bhTableDColor">관리자메모</td>
				<td colspan="3" ><textarea th:field="*{adminMemo}" class="bhTextA"/></td>
			</tr>
			<tr>
				<td class="bhTableDColor">블랙사유</td>
				<td colspan="3" ><textarea th:field="*{blackMemo}" class="hmTextA"/></td>
			</tr>
			<tr>
				<td colspan="4" align="center">
					<input onclick="return trimInput()" type="submit" value="수정" class="bhBigButton"/>
					<input type="reset" value="초기화" class="bhBigButton" />
					<a th:href="|/admin/dogInform/*{dname}/*{pid}|" th:text="뒤로" class="bhBigButton"></a>
				</td>
			</tr>
		</table>
	</form>
	
</th:block>

<th:block layout:fragment="adAdd-content">
</th:block>


</html>