<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultroq.net.nz/thymeleaf/layout"
layout:decorate="total/userTemp">
<th:block layout:fragment="title">
<title>dogDetail</title>
</th:block>
<th:block layout:fragment="content">

<script th:inline="javascript">
        function dogConfirm() {
          var result = confirm("애견등록을 해제하시겠습니까?");

          if (result) {
            // 확인을 선택한 경우 처리할 작업

            location.href="/user/myPage/dogDelete/"+[[${dogData.dname}]];


          } else {
            // 취소를 선택한 경우 처리할 작업
            alert("등록해제를 취소하였습니다.");
          }
        }
</script>
<div class="myPageMenu">
<a href="/user/myPage/memPage">내정보</a>
<a href="/user/myPage/dogJoinChk">애견등록</a>
<a href="/user/myPage/dogList">내애견리스트</a>
<a href="/user/myPage/gsMyList">내 이용권</a>
<a href="/user/question/questionInsert">1:1 문의</a>
<a href="/user/question/queList/1">문의내역</a>
</div>
<div class="hmdogDetail">
<h1>나의 애견 정보</h1>
<table>
	<tr>
		<td colspan="2" align=center class="hmtitlekind">애견정보</td>
	</tr>
	<tr th:if="${dogData.grade == '블랙'}" class="hmDogBlack">
		<td class="tt">블랙사유</td><td th:utext="${dogData.blackMemoBr}" />
	</tr>
	<tr>
		<td class="tt">이름</td><td th:text="${dogData.dname}" />
	</tr>
	<tr>
		<td class="tt">견종</td><td th:text="${dogData.breed}" />
	</tr>
	<tr>
		<td class="tt">무게</td><td th:text="${dogData.weight}" /> 
	</tr>
	<tr>
		<td class="tt">사이즈</td><td th:text="${dogData.dogsize}" />
	</tr>
	<tr>
		<td class="tt">성별</td><td th:text="${dogData.gender}" />
	</tr>
	<tr>
		<td class="tt t1" >나이</td>
		<td class="t1">
			<span th:if="${dYear != 0}">[[${dYear}]]년</span>
		  	<span th:if="${dMonth != 0}">[[${dMonth}]]개월</span>
		  	<span th:if="${dYear != 0 || dMonth != 0}">생</span>
  		</td>
	</tr>
	<tr>
		<td colspan="2" align="center" class="hmimg"><img th:src="|/dimg/${dogData.photo}|" alt="" width="500px"/></td>
	</tr>
	<tr th:if="${dogData.notes != null and dogData.notes != ''}">
		<td class="tt">특이사항</td><td th:text="${dogData.notes}" />
	</tr>
	<tr>
		<td colspan="2" align="right">
			<a th:href="|/user/myPage/dogList|" th:text="목록으로" />
			<a th:if="${dogData.grade != '블랙'}" th:href="|/user/myPage/dogModify/${dogData.dname}|" th:text="수정"/>
			<button onclick="dogConfirm()">등록해제</button>
		</td>
	</tr>
</table>
</div>
</th:block>

<th:block layout:fragment="add-content">
</th:block>
</html>