<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultroq.net.nz/thymeleaf/layout"
layout:decorate="total/userTemp">
<th:block layout:fragment="title">
<title>dogJoin</title>
</th:block>

<th:block layout:fragment="content">
<div class="myPageMenu">
<a href="/user/myPage/memPage">내정보</a>
<a href="/user/myPage/dogJoinForm">애견등록</a>
<a href="/user/myPage/dogList">내애견리스트</a>
<a href="/user/myPage/gsMyList">내 이용권</a>
</div>
<h1>강아지 등록</h1>
<form method="post" th:object="${hmDogsDTO}" enctype="multipart/form-data">
	<table border="">
		<tr>
			<td>강아지 이름</td>
			<td><input type="text" th:field="*{dname}" /></td>
		</tr>
		<tr>
			<td>무게</td>
			<td><input type="text" th:field="*{weight}" />kg</td>
		</tr>
		<tr>
			<td>사이즈</td>
			<td>
				<label><input type="radio" th:field="*{dogsize}" value="소형견" />소형견</label>
				<label><input type="radio" th:field="*{dogsize}" value="중형견" />중형견</label>
				<label><input type="radio" th:field="*{dogsize}" value="대형견" />대형견</label>
			</td>
		</tr>
		<tr>
			<td>성별</td>
			<td>
				<label><input type="radio" th:field="*{gender}" value="암컷" />암컷</label>
				<label><input type="radio" th:field="*{gender}" value="수컷" />수컷</label>
			</td>
		</tr>
		<tr>
			<td>견종</td>
			<td><input type="text" th:field="*{breed}" /></td>
		</tr>
		<tr>
			<td>태어난 날짜</td>
			<td>
				<select th:field="*{dyear}">
					<option th:each="num: ${#numbers.sequence(2000,2023)}" th:value="${num}" th:text="${num}" ></option>
				</select>
				<select th:field="*{dmonth}">
					<option th:each="num: ${#numbers.sequence(1,12)}" th:value="${num}" th:text="${num}" ></option>
				</select>
			</td>
		</tr>
		<tr>
			<td>사진</td>
			<td><input type="file" name="dogimg"/></td>
		</tr>
		<tr>
			<td>특이사항</td>
			<td><textarea th:field="*{notes}"/></td>
		</tr>
		<tr>
			<td>중성화 여부</td>
			<td>
				<label><input type="checkbox" name="chk" required/>중성화한 강아지 입니다.</label>
				<br/> <font size="2">*쿠키마루는 중성화한 강아지만 등록할 수 있습니다.</font>
			</td>
		</tr>
		<tr>
			<td colspan="2" align=center><input type="submit" value="등록하기" /></td>
		</tr>
	</table>
</form>
</th:block>

<th:block layout:fragment="add-content">
</th:block>
</html>