<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultroq.net.nz/thymeleaf/layout"
layout:decorate="total/userTemp">
<th:block layout:fragment="title">
<title>dogModify</title>
</th:block>

<th:block layout:fragment="content">
<div class="myPageMenu">
<a href="/user/myPage/memPage">내정보</a>
<a href="/user/myPage/dogJoinChk">애견등록</a>
<a href="/user/myPage/dogList">내애견리스트</a>
<a href="/user/myPage/gsMyList">내 이용권</a>
</div>
<h1>애견 정보 수정</h1>
<form method="post" th:object="${dogData}" enctype="multipart/form-data">
	<table border="">
		<tr>
			<td>이름</td>
			<td th:text="${dogData.dname}"/>
		</tr>
		<tr>
			<td>견종</td>
			<td th:text="${dogData.breed}"/>
		</tr>
		<tr>
			<td>무게</td>
			<td><input type="text" th:field="*{weight}"/></td>
		</tr>
		<tr>
			<td>사이즈</td>
			<td th:text="${dogData.dogsize}"/>
		</tr>
		<tr>
			<td>성별</td>
			<td th:text="${dogData.gender}"/>
		</tr>
		<tr>
			<td>태어난 해</td>
			<td th:text="${dogData.dyear}"/>
		</tr>
		<tr>
			<td>태어난 달</td>
			<td th:text="${dogData.dmonth}"/>
		</tr>
		<tr>
			<td>사진</td>
			<td><input type="file" name="dogimg"/></td>
		</tr>
		<tr>
			<td>특이사항</td>
			<td><textarea th:field="*{notes}"/></td>
		</tr>
		<tr>
				<td colspan="2" align="center"> 
				<input type="submit" value="수정" />
				<a th:href="|/user/myPage/dogDetail/${dogData.dname}|" th:text="뒤로"/>
			</td>
		</tr>
	</table>
</form>
</th:block>

<th:block layout:fragment="add-content">
</th:block>
</html>