<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultroq.net.nz/thymeleaf/layout"
layout:decorate="total/userTemp">
<th:block layout:fragment="title">
<title>dogModify</title>
</th:block>

<th:block layout:fragment="content">
<script type="text/javascript" src="/qqq/jquery_3_6_3.js"></script>
<script th:inline="javascript">
function validWeight(weight = $("#weight").val().trim()) {
    var regex = /^\d+(\.\d+)?$/; // Allows positive decimal or integer values
    var isValid = regex.test(weight);
    
    return isValid;
}

function frmChk(){
	 if (!validWeight()) {//14
		 alert("무게는 숫자 형식으로 입력해주세요.");
	        return false;
	    }

	    return true;
}
</script>
<div class="myPageMenu">
<a href="/user/myPage/memPage">내정보</a>
<a href="/user/myPage/dogJoinChk">애견등록</a>
<a href="/user/myPage/dogList">내애견리스트</a>
<a href="/user/myPage/gsMyList">내 이용권</a>
<a href="/user/question/questionInsert">1:1 문의</a>
<a href="/user/question/queList/1">문의내역</a>
</div>
<div class="hmdogModi">
<h1>애견 정보 수정</h1>
<form method="post" enctype="multipart/form-data" th:object="${dogData}" onsubmit="return frmChk()">
	<table>
		<tr class="hmtitletr">
			<td colspan="2" align=center  class="hmtitlekind">애견정보수정</td>
		</tr>
		<tr>
			<td class="tt">이름</td>
			<td th:text="${dogData.dname}"/>
		</tr>
		<tr>
			<td class="tt">견종</td>
			<td th:text="${dogData.breed}"/>
		</tr>
		<tr>
			<td class="tt">무게</td>
			<td><input class="hm_inputcolor" type="text" th:field="*{weight}" id="weight" oninput="validWeight(this.value)"/>kg</td>
		</tr>
		<tr>
			<td class="tt">사이즈</td>
			<td th:text="${dogData.dogsize}"/>
		</tr>
		<tr>
			<td class="tt">성별</td>
			<td th:text="${dogData.gender}"/>
		</tr>
		<tr>
			<td class="tt">태어난 해</td>
			<td th:text="${dogData.dyear}"/>
		</tr>
		<tr>
			<td class="tt">태어난 달</td>
			<td th:text="${dogData.dmonth}"/>
		</tr>
		<tr>
			<td class="tt">사진</td>
			<td><input type="file" name="dogimg"/></td>
		</tr>
		<tr>
			<td class="tt">특이사항</td>
			<td><textarea th:field="*{notes}"/></td>
		</tr>
		<tr>
				<td colspan="2" align="center"> 
				<a th:href="|/user/myPage/dogDetail/${dogData.dname}|" th:text="뒤로"/>
				<input type="submit" value="수정" />
				<input type="reset" value="초기화" />
			</td>
		</tr>
	</table>
</form>
</div>
</th:block>

<th:block layout:fragment="add-content">
</th:block>
</html>