<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultroq.net.nz/thymeleaf/layout"
layout:decorate="total/userTemp">
<th:block layout:fragment="title">
<title>회원 이용권</title>
</th:block>

<th:block layout:fragment="content">
<div class="myPageMenu">
<a href="/user/myPage/memPage">내정보</a>
<a href="/user/myPage/dogJoinForm">애견등록</a>
<a href="/user/myPage/dogList">내애견리스트</a>
<a href="/user/myPage/gsMyList">내 이용권</a>
<a href="/user/question/questionInsert">1:1 문의</a>
<a href="/user/question/queList/1">문의내역</a>
</div>
<div class="myBuyMenu">
<a href="/user/myPage/gsMyList">현재 이용권</a>
<a href="/user/myPage/gsMyOld">지난(환불) 이용권</a>
</div>

<div class="hmmemPage">
<h1>이용권 상세보기</h1>
<table>
	<tr>
			<td colspan="2" align=center class="hmtitlekind">상세 정보</td>
		</tr>
	<tr>
		<td class="tt">예약 번호</td><td th:text="${myDetail.reserNo}"/>
	</tr>
	<tr>
		<td class="tt">강아지 이름</td><td th:text="${myDetail.dname}"/>
	</tr>
	<tr>
		<td class="tt">강아지 크기</td><td th:text="${myDetail.dogsize}"/>
	</tr>
	<tr>
		<td class="tt">이용권 종류</td><td th:text="${myDetail.kind}"/>
	</tr>
	<tr>
		<td class="tt">요일</td><td th:text="${myDetail.weeks}"/>
	</tr>
	<tr>
		<td class="tt">결제 날짜</td><td th:text="${myDetail.payD}"/>
	</tr>
	<tr>
		<td class="tt">시작 날짜</td><td th:text="${myDetail.startD}"/>
	</tr>
	<tr>
		<td class="tt">종료 날짜</td><td th:text="${myDetail.endD}"/>
	</tr>
	<tr>
		<td class="tt">요청 사항</td><td th:text="${myDetail.reque}"/>
	</tr>
	<tr>
		<td class="tt">이용권 가격</td><td th:text="${myDetail.payStr()}"/>
	</tr>
	<tr>
		<td class="tt">정규 교육 가격</td><td th:text="${myDetail.eduFeeStr()}"/>
	</tr>
	<tr>
		<td class="tt">총 가격</td><td th:text="${myDetail.totFeeStr()}"/>
	</tr>
	<th:block th:if="${myDetail.refund != 0}">
	<tr>
		<td class="tt">환불 가격</td><td th:text="${myDetail.refundStr()}"/>
	</tr>
	</th:block>
	<tr>
		<td class="tt">출석률</td><td th:text="${att}"/>
	</tr>
	<tr>
		<td class="tt">진행률</td><td th:text="${attAll}"/>
	</tr>

	
	<tr>
		<td colspan="2" align="right">
		<a th:href="@{|/user/myPage/myAttend/${myDetail.reserNo}|}" >출석 상세보기</a>
			<a th:href="|/user/myPage/gsMyList|" th:text="뒤로" />
			<a th:href="@{|/user/myPage/myRefund/${myDetail.reserNo}|}" >환불</a>
		</td>
	</tr>
</table>
</div>



<!-- 		<h2>
			------------------환불 약정------------------
		</h2>
		<h3>
			[시작 전]</br>
			10일 전 환불 100%</br>
			5일 전 환불 90%</br>
			1일 전 환불 80%</br>
			[시작 후]</br>
			총 기간의 </br>
			30% 이하 이용 시 환불  40%</br>
			50% 이하 이용 시 환불   20%</br>
			50% 이상 이용 시 환불불가 </br>
		</h3> -->
		
	

<th:block layout:fragment="add-content">
</th:block>
</html>