<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultroq.net.nz/thymeleaf/layout"
layout:decorate="total/userTemp">
<th:block layout:fragment="title">
<title>회원 이용권</title>
</th:block>

<th:block layout:fragment="content">

    <script>
      document.addEventListener('DOMContentLoaded', function () {
        var accountInput = document.querySelector('input[name="account"]');

        accountInput.addEventListener('input', function (event) {
          var value = event.target.value;
          if (value.length >= 10 && value.length <= 16) {
            accountInput.setCustomValidity('');
          } else {
            accountInput.setCustomValidity('계좌번호는 10~16자리 숫자로만 입력해야 합니다.');
          }
        });
      });
    </script>
<div class="myPageMenu">
<a href="/user/myPage/memPage">내정보</a>
<a href="/user/myPage/dogJoinForm">애견등록</a>
<a href="/user/myPage/dogList">내애견리스트</a>
<a href="/user/myPage/gsMyList">내 이용권</a>
</div>
<div class="myBuyMenu">
<a href="/user/myPage/gsMyList">현재 이용권</a>
<a href="/user/myPage/gsMyOld">지난(환불) 이용권</a>
</div>
<h1>이용권 환불하기</h1>
<div class="gsRefInfo">
	<h2>
		환불 약정
	</h2>
	<h3>
		[시작 전]</br>
		시작일 10일 전 까지 환불 100%</br>
		시작일 5일 전 까지 환불 90%</br>
		시작일 1일 전 까지 환불 80%</br></br>
		[시작 후 (당일 포함)]</br>
		진행률 30% 이하 환불 40%</br>
		진행률 50% 이하 환불 20%</br>
		진행률 50% 넘을 시 환불불가 </br>
	</h3>
</div>
<div class="hmmemPage">


<form action="" method="post">
<table>
	<input type="hidden" name="refund" th:value="${myDetail.refund}" />
	<tr>
			<td colspan="2" align=center class="hmtitlekind">환불 정보</td>
		</tr>
	
	<tr>
		<td class="tt">은행</td>
		<td>
			<select name="bank" id="bank" required="required">
				<option value="신한 은행">신한 은행</option>
				<option value="국민 은행">국민 은행</option>
				<option value="카카오 뱅크">카카오 뱅크</option>
				<option value="농협 은행">농협 은행</option>
				<option value="하나 은행">하나 은행</option>
			</select>
		</td>
	</tr>
	<tr>
		<td class="tt">환불 계좌</td><td><input name="account" type="text" pattern="[0-9]{8,}" placeholder="숫자만 (-제외)" required="required"/></td>
	</tr>
	<tr>
		<td class="tt">시작일</td><td th:text="${myDetail.StartD}"/>
	</tr>
	<tr>
		<td class="tt">진행률</td><td th:text="${attAll}"/>
	</tr>
	<tr>
		<td class="tt">결제 금액</td><td th:text="${myDetail.totFeeStr()}"/>
	</tr>
	<tr>
		<td class="tt">환불 예정 금액</td><td th:text="${myDetail.refundStr()}"/>
	</tr>

	<tr>
		<td colspan="2" align="center">
			<input type="submit" value="환불하기"/>
			<a th:href="|/user/myPage/buyDetail/${myDetail.reserNo}|" th:text="취소" />
		</td>
	</tr>
</table>
</form>
</div>



</th:block>

<th:block layout:fragment="add-content">
</th:block>
</html>