<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultroq.net.nz/thymeleaf/layout"
layout:decorate="total/userTemp">
<th:block layout:fragment="title">
<title>myPage</title>
</th:block>

<th:block layout:fragment="content">
<div class="myPageMenu">
<a href="/user/myPage/memPage">내정보</a>
<a href="/user/myPage/dogJoinChk">애견등록</a>
<a href="/user/myPage/dogList">내애견리스트</a>
<a href="/user/myPage/gsMyList">내 이용권</a>
<a href="/user/question/questionInsert">1:1 문의</a>
<a href="/user/question/queList/1">질문리스트</a>
</div>
<div class="hmmemPage">
<h1>마이페이지</h1>
<table>
	<tr>
			<td colspan="2" align=center class="hmtitlekind">내 정보</td>
		</tr>
	<tr>
		<td class="tt">아이디</td><td th:text="${myData.pid}"/>
	</tr>
	<tr>
		<td class="tt">이름</td><td th:text="${myData.pname}"/>
	</tr>
	<tr>
		<td class="tt">전화번호</td><td th:text="${myData.tel}"/>
	</tr>
	<tr>
		<td class="tt">생년월일</td><td>[[${birth}]]</td>
	</tr>
	<tr>
		<td class="tt">주소</td><td th:text="${myData.addr1}"/>
	</tr>
	<tr>
		<td class="tt">상세주소</td><td th:text="${myData.addr2}"/>
	</tr>
	<tr>
		<td class="tt">이메일</td><td th:text="${myData.email}"/>
	</tr>
	<tr>
		<td colspan="2" align="right">
			<a th:href="|/user|" th:text="뒤로" />
			<a th:href="|/user/myPage/modifyForm|" th:text="정보수정"/>
			<a th:href="|/user/myPage/pwChange|" th:text="비번수정"/>
			<a th:href="|/user/myPage/delete|" th:text="회원탈퇴"/>
		</td>
	</tr>
</table>
</div>
</th:block>

<th:block layout:fragment="add-content">
</th:block>
</html>