<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultroq.net.nz/thymeleaf/layout"
layout:decorate="total/userTemp">
<th:block layout:fragment="title">
<title>modifyForm</title>
</th:block>

<th:block layout:fragment="content">
<script type="text/javascript" src="/qqq/jquery_3_6_3.js"></script>
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script th:inline="javascript">
window.onload = function() {
	document.getElementById("addressSch").addEventListener("click", function() {
			new daum.Postcode({
				oncomplete: function(data) {
					document.getElementById("address").value = data.address;
					document.getElementById("roadAddress").value = data.roadAddress;
// 					window.close();
				}
			}).open();
		
	});

}
</script>
<script th:inline="javascript">
//비밀번호 유효성
function validPw(pw = $("#pw").val().trim()) {
	
	var regex = /^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[~!@#$%^-_]).{8,16}$/;
	var isValid = regex.test(pw);

	if (isValid) {
		document.getElementById('pw').style.backgroundColor = 'rgba(0, 255, 100, 0.3)';
	} else {
		document.getElementById('pw').style.backgroundColor = 'rgba(255, 0, 0, 0.3)';
	}
	return isValid;
}
//이름 유효성
function validPname(pname = $("#pname").val().trim()) {
	
	var regex = /^[가-힣]{2,4}$/;
	var isValid = regex.test(pname);

	if (isValid) {
		document.getElementById('pname').style.backgroundColor = 'rgba(0, 255, 100, 0.3)';
	} else {
		document.getElementById('pname').style.backgroundColor = 'rgba(255, 0, 0, 0.3)';
	}
	return isValid;
}

//전화번호 유효성
function validTel(tel = $("#tel").val().trim()) {
  var regex = /^01[0-9]{1}-[0-9]{4}-[0-9]{4}$/;
  var isValid = regex.test(tel);

  if (isValid) {
    // 유효한 전화번호인 경우
    document.getElementById('tel').style.backgroundColor = 'rgba(0, 255, 100, 0.3)';
  } else {
    // 유효하지 않은 전화번호인 경우
    document.getElementById('tel').style.backgroundColor = 'rgba(255, 0, 0, 0.3)';
  }
  return isValid;
}

//이메일 유효성
function validEmail(email = $("#email").val().trim()) {
  var regex = /^[a-zA-Z0-9._+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$/;
  var isValid = regex.test(email);

  if (isValid) {
    // 유효한 이메일 주소인 경우
    document.getElementById('email').style.backgroundColor = 'rgba(0, 255, 100, 0.3)';
  } else {
    // 유효하지 않은 이메일 주소인 경우
    document.getElementById('email').style.backgroundColor = 'rgba(255, 0, 0, 0.3)';
  }
  return isValid;
}

//주소 유효성
function validAddr2(addr2 = $("#addr2").val().trim()) {
	
	var isValid = false;
	
	if (!$("#addr2").val().trim().length == 0) {
		document.getElementById('addr2').style.backgroundColor = 'rgba(0, 255, 100, 0.3)';
		isValid = true;
	} else {
		document.getElementById('addr2').style.backgroundColor = 'rgba(255, 0, 0, 0.3)';
	}
	return isValid;
}

function frmChk() {
	
	if(!validPname()){ //4
		alert("이름은 한글 2~4자 입니다.");
		return false;
	}
	
	if (!validTel()) { // 수정된 유효성 검사 함수 호출
		alert("전화번호를 형식에 맞게 입력해주세요.");
		return false;
	  }
	
	if($("#address").val().trim()==""){ //6
		alert("주소를 입력해주세요.");
		return false;
	}
	
	if(!validAddr2()){ //7
		alert("상세주소를 입력해주세요.");
		return false;
	}
	
	 if (!validEmail()) { // 수정된 유효성 검사 함수 호출
		 alert("이메일을 형식에 맞게 입력해주세요.");
		 return false;
		  }
	 if(!validPw()){//2
		 alert("비밀번호를 정확히 입력해주세요.");
		 return false;
		}
		  
	 return true;
}
</script>
<div class="myPageMenu">
<a href="/user/myPage/memPage">내정보</a>
<a href="/user/myPage/dogJoinChk">애견등록</a>
<a href="/user/myPage/dogList">내애견리스트</a>
<a href="/user/myPage/gsMyList">내 이용권</a>
<a href="/user/question/questionInsert">1:1 문의</a>
<a href="/user/question/queList/1">문의내역</a>
</div>
<div class="hmmodify">
<h1>회원정보 수정</h1>
<form method="post" th:object="${myData}" onsubmit="return frmChk()">
	<table>
		<tr><td colspan="2" align=center class="hmtitlekind">회원정보수정</td></tr>
		<tr>
			<td class="tt">아이디</td>
			<td th:text="${myData.pid}"/>
		</tr>
		<tr>
			<td class="tt">이름</td>
			<td><input type="text" th:field="*{pname}" id="pname" oninput="validPname(this.value)" /></td>
		</tr>
		<tr>
			<td class="tt">전화번호</td>
			<td><input type="text" th:field="*{tel}" id="tel" oninput="validTel(this.value)" /></td>
		</tr>
		<tr>
			<td class="tt">생년월일</td>
			<td>[[${birth}]]</td>
		</tr>
		<tr>
			<td class="tt">주소</td>
			<td>
				<div class="form-container">
		        <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=12a21b08156b2f3c3a0967fbcc61ed3b"></script>
		        <div class="form-control" id="schbox">
		        <label for="address_kakao">
		            <input type="text"  th:field="*{addr1}" id="address" placeholder="주소 입력" required readonly>
		            <input type="text" name="roadAddress" id="roadAddress" hidden>
		            <input type="button" id="addressSch" value="검색">
            	</label>
        		</div>
        		</div>
			</td>
		</tr>
		<tr>
			<td class="tt">상세주소</td>
			<td><input type="text" th:field="*{addr2}" oninput="validAddr2(this.value)"/></td>
		</tr>
		<tr>
			<td class="tt">이메일</td>
			<td><input type="text" th:field="*{email}" id="email" oninput="validEmail(this.value)" /></td>
		</tr>
		<tr>
			<td class="tt">비밀번호</td>
			<td><input type="password" id="pw" name="pw" oninput="validPw(this.value)" /></td><!-- oninput="validPw(this.value)" -->
		</tr>
		<tr>
			<td colspan="2" align="center"> 
				<a th:href="|/user/myPage/memPage|" th:text="뒤로"/>
				<input type=submit value="수정" />
				<input type="reset" value="초기화" />
			</td>
		</tr>
	</table>
</form>
</div>
</th:block>

<th:block layout:fragment="add-content">
</th:block>
</html>