<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" href="/css/shCss.css">
<link rel="stylesheet" type="text/css" href="/css/gsCss.css">
<link rel="stylesheet" type="text/css" href="/css/hmCss.css">
<link rel="stylesheet" type="text/css" href="/css/bhCss.css">
<style>
	body{
		margin: auto;
		width: 1200px;
		
		border: 3px solid#000;
	}
	.menu{
		width: 1200px;
		height: 100px;
		border: 1px solid#0aa;
		background: #aaa;
	}
	.main{
		width: 1200px;
		min-height: 1000px;
		border: 1px solid#faa;
		background: #eee;
		justify-content: space-evenly;
	}


	
</style>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<div class="menu">
<th:block layout:fragment="adTitle"></th:block>
<a href="/admin">관리자</a>
<a href="/admin/member">회원관리</a>
<a href="/admin/dogs">애견관리</a>
<a href="/admin/reservation/1">이용권관리</a>
<a href="/admin/sales/1">매출관리</a>
<a href="/admin/notice/1">공지사항관리</a>
<a href="/admin/answer">1:1 답변</a>
</div>
</head>
