<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultroq.net.nz/thymeleaf/layout"
layout:decorate="total/userTemp">
<th:block layout:fragment="title">
<title>Cookie Maru</title>
</th:block>

<th:block layout:fragment="content">
<div class="gsHome">
	<div class="maindog1">
		<img src="../dimg/dogPP.png" alt="" width="300px" />
	</div>
	<div class="mainCoo">
		Cookie Maru
	</div>
	<div class="mainMaru">
		Premium DOG Preschool
	</div>
	<div class="mainInfo">
		반려견을 위한 <br>
		최고의 유치원 서비스
	</div>
	<div class="aram">
	<h1>&nbsp;&nbsp;[ 오늘의 알림 ]</h1>
		-[[${msg}]]<br/>
		-[[${today}]]<br/>
	</div>
	
</div>
</th:block>

<th:block layout:fragment="add-content">
</th:block>
</html>