<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org/DTD Mapper3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="coo.user.db.GsDiaryMapper">

	
	<select id="dnames" parameterType="gsrDTO" resultType="String">
		select dname from dogs 
		<where>
			pid = #{pid} 
		</where>
	</select>
	
	
	<select id="showP" parameterType="gsrDTO" resultType="gsrDTO">
		select * from daybyday 
		<where>
				<if test = "dname != '전체'">
					dname = #{dname} and 
				</if>
			pid = #{pid} and attendTime IS NOT NULL and oneDay &lt;= date_sub(sysdate(), interval 1 day)
		</where>
	</select>
	
	<select id="noShowP" parameterType="gsrDTO" resultType="gsrDTO">
		select * from daybyday 
		<where>
				<if test = "dname != '전체'">
					dname = #{dname} and 
				</if>
			pid = #{pid} and attendTime IS NULL and oneDay &lt;= date_sub(sysdate(), interval 1 day)
		</where>
	</select>
	
	<select id="futureP" parameterType="gsrDTO" resultType="gsrDTO">
		select * from daybyday 
		<where>
				<if test = "dname != '전체'">
					dname = #{dname} and 
				</if>
			pid = #{pid} and oneDay > date_sub(sysdate(), interval 1 day)
		</where>
	</select>
	
</mapper>


