<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org/DTD Mapper3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="coo.user.db.GsMyPageMapper">
	<select id="reserArr" parameterType="String" resultType="gsrDTO">
		select * from reser 
		<where>
			pid = #{pid} and refund = 0 and endD > date_sub(sysdate(), interval 1 day)
		</where>
	</select>
	
	<select id="oldArr" parameterType="String" resultType="gsrDTO">
		select * from reser 
		<where>
			pid = #{pid}  and (refund > 0 or endD &lt;= date_sub(sysdate(), interval 1 day))
		</where>
	</select>
	
	<select id="buyDetail" parameterType="gsrDTO" resultType="gsrDTO">
		select * from reser 
		<where>
			reserNo = #{reserNo}
		</where>
	</select>
	
	<update id="myRefun" parameterType="gsrDTO">
		update reser set refund = #{refund}, refundD = sysdate()
		<where>
			reserNo = #{reserNo}
		</where>
	</update>
	
	<delete id="dayRefun" parameterType="gsrDTO">
		delete from daybyday 
		<where>
			reserNo = #{reserNo} and oneDay > sysdate()
		</where>
	</delete>
	
	
	<select id="attend" parameterType="gsrDTO" resultType="int">
		select count(*) from daybyday 
		<where>
			reserNo = #{reserNo}  and attendTime IS NOT NULL
		</where>
	</select>
	
	<select id="show" parameterType="gsrDTO" resultType="gsrDTO">
		select * from daybyday 
		<where>
			reserNo = #{reserNo} and attendTime IS NOT NULL and oneDay &lt;= date_sub(sysdate(), interval 1 day)
		</where>
	</select>
	
	<select id="noShow" parameterType="gsrDTO" resultType="gsrDTO">
		select * from daybyday 
		<where>
			reserNo = #{reserNo} and attendTime IS NULL and oneDay &lt;= date_sub(sysdate(), interval 1 day)
		</where>
	</select>
	<select id="future" parameterType="gsrDTO" resultType="gsrDTO">
		select * from daybyday 
		<where>
			reserNo = #{reserNo} and oneDay > date_sub(sysdate(), interval 1 day)
		</where>
	</select>
	
	

	
</mapper>


