<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org/DTD Mapper3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="coo.user.db.GsReserMapper">
	<select id="dogArr" parameterType="String" resultType="gsdDTO">
		select * from dogs 
		<where>
			pid = #{pid} and grade != '블랙'
		</where>
	</select>
	
	<select id="pack" parameterType="gsdDTO" resultType="gsdDTO">
		select * from dogs 
		<where>
			pid = #{pid} and dname = #{dname}
		</where>
	</select>
	
	<select id="reserDArr" parameterType="gsrDTO" resultType="gsrDTO">
		select * from reser 
		<where>
			pid = #{pid} and dname = #{dname} and refund = 0 and endD > date_sub(sysdate(), interval 1 day)
		</where>
	</select>
	
	
	
	
	
	<insert id="buy" parameterType="gsrDTO">
		<selectKey keyProperty="reserNo" resultType="Integer" order="BEFORE">
			select max(reserNo)+1 from reser
		</selectKey>
		insert into reser  (reserNo, pid, dname,pay,edu,reque,kind,dogsize,weeks,bank,account,startD,endD,payD,eduFee,totFee,gap)
		values
		(#{reserNo}, #{pid}, #{dname},#{pay},#{edu},#{reque},#{kind},#{dogsize},#{weeks},#{bank},#{account},#{startD}, date_sub(#{startD}, interval -#{gap} day) ,sysdate(),#{eduFee},#{pay}+#{eduFee},#{gap})
	</insert>
	
	<insert id="dayBuy" parameterType="gsrDTO">
		insert into daybyday (reserNo,pid, dname,edu,kind,dogsize,oneDay)
		values
		(#{reserNo},#{pid}, #{dname},#{edu},#{kind},#{dogsize},#{oneDay})
	</insert>
</mapper>


