<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="total/adTemp">

<th:block layout:fragment="adTitle">
	<title>관리자_공지</title>
</th:block>

<th:block layout:fragment="adContent">
<script type="text/javascript" src="/qqq/jquery_3_6_3.js"></script>
<script th:inline="javascript">
function frmChk() {
	var imgFile = $("#img").get(0).files[0];
    var allowedTypes = ['image/jpeg', 'image/png', 'image/gif'];

    if (imgFile) {
        if (allowedTypes.indexOf(imgFile.type) === -1) {
            alert("이미지 파일만 등록이 가능합니다.");
            return false;
        }
    } else if ($("#con").val().trim() === "") {
        alert("사진이나 내용을 하나 이상 등록해주세요.");
        return false;
    }
    
    return true;
}
</script>	
	<h2 class="bhH2">공지등록</h2>
	<form method="post" th:object="${shNoticeDTO}" enctype="multipart/form-data" onsubmit="return frmChk()">
		<table align="center" class="shdetail" style="width: 1000px;">
			<tr>
				<td class="shtd" align="center">제목</td>
				<td class="shtd2"><input type="text" th:field="*{title}" style="width:850px; height:40px;" required placeholder="제목을 입력해 주세요."/></td>
			</tr>
			<tr>
				<td class="shtd" align="center">작성자</td>
				<td class="shtd2">쿠키마루</td>
			</tr>
			<tr>
				<td class="shtd" align="center">이미지</td>
				<td class="shtd2"><input type="file" th:field="*{noticeImg}" id="img"/></td>
			</tr>
			<tr>
				<td class="shtdr">내용</td>
				<td class="shtd2"><textarea id="con" th:field="*{content}" cols="120" rows="20" style="resize: none;" placeholder="내용을 입력해 주세요."/></td>
			</tr>
			<tr>
				<td colspan="2" align="center" class="shtt"> 
					<a th:href="|/admin/notice/1|" th:text="뒤로" class="shaa"/>
					<button type="submit">작성</button>
				</td>
			</tr>
		</table>
	</form>
</body>
</html>