<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="total/adTemp">

<th:block layout:fragment="adTitle">
	<title>관리자_공지사항</title>
</th:block>

<th:block layout:fragment="adContent">
	
	
	<h3>공지수정</h3>
	<form method="post" th:object="${mainData}">
		<table border="" align="center" class="shdetail" style="width: 1000px;">
			<tr>
				<td class="shtd" align="center">제목</td><td><input th:field="*{title}" style="width:850px; height:50px;" class="shtd2" /></td>
			</tr><tr>
				<td class="shtd" align="center">작성자</td><td th:text="${mainData.id}" class="shtd2"/>
			</tr><tr>
				<td class="shtd" align="center">등록일</td><td th:text="${mainData.date()}" class="shtd2"/>
			</tr><tr>
				<td class="shtd" align="center">조회수</td><td th:text="${mainData.cnt}" class="shtd2"/>
			</tr><tr>
				<td class="shtdr">이미지</td><td class="shtd2"><img  th:src="@{|/dimg/${mainData.photoFile}|}" alt="" width="300px" height="300px"><input type="file" th:field="*{photoFile}" /></td>
			</tr><tr>
				<td class="shtdr">내용</td><td class="shtd2"><textarea cols="120" rows="20" th:field="*{content}"></textarea>
			</tr><tr>
				<td colspan="2" align="right" class="shtt">
					<a th:href="|/admin/notice/detail/${mainData.num}|" th:text="뒤로" class="shaa"/>
					<button type="submit">등록</button>
				</td>
			</tr>
		</table>
	</form>
	
	
	
</th:block>



</html>