<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="total/adTemp">

<th:block layout:fragment="adTitle">
	<title>관리자_공지사항</title>
</th:block>

<th:block layout:fragment="adContent">
	
	<script>
		function showConfirmation() {
		  var result = confirm("정말 삭제하시겠습니까?");

		  if (result) {
		    // 확인을 선택한 경우 처리할 작업
		    
		    location.href="/admin/notice/delete/"+[[${mainData.num}]];
		   
		    
		  } else {
		    // 취소를 선택한 경우 처리할 작업
		    alert("취소하였습니다");
		  }
		}
	</script>
	
	
	<h3>공지상세</h3>
	<table border="" align="center" class="shdetail" style="width: 1000px;">
		<tr>
			<td class="shtd" align="center">제목</td><td th:text="${mainData.title}" class="shtd2"/>
		</tr><tr>
			<td class="shtd" align="center">작성자</td><td th:text="${mainData.id}" class="shtd2"/>
		</tr><tr>
			<td class="shtd" align="center">등록일</td><td th:text="${mainData.date()}" class="shtd2"/>
		</tr><tr>
			<td class="shtd" align="center">조회수</td><td th:text="${mainData.cnt}" class="shtd2"/>
		</tr><tr>
		<th:block th:if="${dd}">
				<td class="shtdr">이미지</td><td class="shtd2"><img  th:src="@{|/dimg/${mainData.photoFile}|}" alt="" width="500px" height="500px" class="shtd2"><!-- <br/>[[${mainData.content}]] --></td>
			</th:block>
			<th:block th:unless="${dd}">
				<td class="shtdr">이미지</td><td class="shtd2"><!-- <br/>[[${mainData.content}]] --></td>
		</th:block>
		</tr><tr >
			<td class="shtdr">내용</td><td th:text="${mainData.content}" style="width:700px; height:300px" class="shtd2"/>
		</tr><tr>
			<td colspan="2" align="right" class="shtt">
				<button onclick="location.href='/admin/notice/1'" >뒤로</button>
				<button th:onclick="|window.location.href='/admin/notice/modify/${mainData.num}'|">수정</button>
				<button onclick="showConfirmation()">삭제</button>
			</td>
		</tr>
	</table>
	
	
	
</th:block>



</html>