<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="total/adTemp">

<th:block layout:fragment="adTitle">
	<title>관리자_회원관리</title>
</th:block>

<th:block layout:fragment="adContent">
	<h2 class="bhH2">회원관리</h2>
	<!--<span th:text="'회원수: '+${bhMemData.size()}+' 명'"></span>-->
	<div>
		<table align="center" class="bhTable">
			<thead>
<!--검색폼-->
			<form action="" th:object="${bhMemDTO}">
				<tr>
					<td colspan="7" align="center">
						<select th:field="*{kind}" class="bhSelLong">
							<option value="pname">회원이름</option>
							<option value="pid">회원아이디</option>
						</select>
						
						<input type="text" th:field="*{sch}" class="bhInput"/>
						&nbsp;&nbsp; 회원그룹
						<select th:field="*{grade}" class="bhSelShort">
							<option value="전체" th:text="전체"></option>
							<option value="일반" th:text="일반"></option>
							<option value="블랙" th:text="블랙"></option>
							<option value="관리자" th:text="관리자"></option>
						</select>
						<input type="submit" value="검색" class="bhSearSub"/>
					</td>
				</tr>
			</form>
			
			<tr>
				<td>번호</td>
				<td>아이디</td>
				<td>이름</td>
				<td>전화번호</td>
				<td>이메일</td>
				<td>등급</td>
				<td>강아지등록수</td>
			</tr>
			</thead>
			
			<tbody>
			<tr th:each="dto, dtoStat: ${bhMemData}">
				<td th:text="${pd.start}+${dtoStat.index+1}"/>
				<td><a th:href="@{|/admin/memPid/${dto.pid}|}" th:text="${dto.pid}" class="bhTA"/></td>
				<td th:text="${dto.pname}"/>
				<td th:text="${dto.tel}"/>
				<td th:text="${dto.email}"/>
				<td th:text="${dto.grade}"/>
				<td th:text="${dto.dogTotalCnt()}"/>
			</tr>
			
			<tr> 
				<td colspan="7" align="center" style="height:30px;">
					<th:block th:if="${pd.startPage > 1}">
						<a th:href="${pd.nowPage-1}" th:text="이전" class="bhPageA"></a>
					</th:block>
					<span th:each="p : ${#numbers.sequence(pd.startPage, pd.endPage, 1)}" th:href="${p}">
						<th:block th:if="${pd.nowPage == p}"><button th:text="${p}" class="shp">[[${p}]]</button></th:block>
						<th:block th:unless="${pd.nowPage == p}"><a th:href="${p}" th:text="${p}" class="bhPageA"></a></th:block>
					</span>
					<th:block th:if="${pd.endPage < pd.totalPage}">
						<a th:href="${pd.endPage+1}" th:text="다음" class="bhPageA"></a>
					</th:block>
				</td>
			</tr>
			
			</tbody>
		</table>
		
	</div>
</th:block>

<th:block layout:fragment="adAdd-content">
</th:block>

</html>