<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="total/adTemp">

<th:block layout:fragment="adTitle">
	<title>관리자_회원상세</title>
</th:block>

<th:block layout:fragment="adContent">
	
	<h2 th:text="${bhMemData.pname}+' 고객님의 정보'"> </h2>

	<table border="" align="center">
		<tr>
			<td>아이디</td><td colspan="3"><span th:text="${bhMemData.pid}"></span></td>
		</tr><tr>
			<td>이름</td><td colspan="3" th:text="${bhMemData.pname}" />
		</tr><tr th:if="${!bhMemData.grade.equals('관리자')}">
			<td>전화번호</td><td colspan="3" th:text="${bhMemData.tel}" />
		</tr><tr>
			<td>이메일</td><td colspan="3" th:text="${bhMemData.email}" />
		</tr><tr>
			<td>생년월일</td><td colspan="3" th:text="${bhMemData.birth}" />
		</tr><tr th:if="${!bhMemData.grade.equals('관리자')}">
			<td>주소</td><td colspan="3" th:text="${bhMemData.addr1}+' '+${bhMemData.addr2}"/>
		</tr><tr>
			<td>등급</td><td colspan="3" th:text="${bhMemData.grade}"/>
		</tr><tr th:if="${!bhMemData.grade.equals('관리자')}">
			<td>가입일</td><td colspan="3" th:text="${bhMemData.reg_date}" />
		</tr>
		<tr th:if="${!bhMemData.grade.equals('관리자')}">
			<td>강아지</td>
			<td th:each="dto, dtoStat: ${bhDogData}">
				<div>
					<div><a th:href="@{|/admin/dogInform/${dto.dname}/${dto.pid}|}" th:text="${dto.dname}"/></div>
					<img th:src="@{'/dimg/'+${dto.photo}}" width="200px" alt="Image">
				</div>
			</td>
		</tr>
		<tr>
			<td colspan="4" align="center">
				<a th:href="|/admin/member|" th:text="회원목록" ></a>
				<a th:href="|/admin/memModi/${bhMemData.pid}|" th:text="수정" ></a>
				<a th:href="|/admin/memDelete/${bhMemData.pid}|" th:text="삭제" ></a>
			</td>
		</tr>
	</table>
	
	
</th:block>

<th:block layout:fragment="adAdd-content">
</th:block>


</html>