<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="total/adTemp">

<th:block layout:fragment="adTitle">
	<title>관리자_회원상세</title>
</th:block>

<th:block layout:fragment="adContent">
	
	<h2 class="bhH2" th:text="${bhMemData.pname}+' 님의 정보'"> </h2>

	<table align="center" class="bhTableD">
		<tr>
			<td class="bhTableDColor">아이디</td><td><span th:text="${bhMemData.pid}"></span></td>
			<td class="bhTableDColor">이름</td><td th:text="${bhMemData.pname}" />
		</tr><tr th:if="${!bhMemData.grade.equals('관리자')}">
			<td class="bhTableDColor">전화번호</td><td th:text="${bhMemData.tel}" />
			<td class="bhTableDColor">이메일</td><td th:text="${bhMemData.email}" />
		</tr><tr>
			<td class="bhTableDColor">생년월일</td><td th:text="${bhMemData.birthStr()}" />
			<td class="bhTableDColor">등급</td><td th:text="${bhMemData.grade}"/>
		</tr><tr th:if="${!bhMemData.grade.equals('관리자')}">
			<td class="bhTableDColor">주소</td>
			<td colspan="3" th:text="${bhMemData.addr1}+' '+${bhMemData.addr2}"/>
		</tr><tr th:if="${!bhMemData.grade.equals('관리자')}">
			<td class="bhTableDColor">가입일</td>
			<td colspan="3" th:text="${bhMemData.reg_dateStr()}" />
		</tr>
		<tr th:if="${!bhMemData.grade.equals('관리자')}">
			<td class="bhTableDColor">강아지</td>
			<th:block th:each="dto: ${bhDogData}">
			<th:block th:if="${bhDogData.size() == 1}">
				<td colspan="3">
			</th:block>
			<th:block th:if="${bhDogData.size() == 2}">
				<td colspan="2">
			</th:block>
			<th:block th:if="${bhDogData.size() == 3}">
				<td>
			</th:block>
				<div>
					<div><a th:href="@{|/admin/dogInform/${dto.dname}/${dto.pid}|}" th:text="${dto.dname}" class="bhTA"/></div>
					<img th:src="@{'/dimg/'+${dto.photo}}" 
					width="200px" alt="Image" style="margin:5px;">
				</div>
			</td>
			</th:block>
		</tr>
		<tr>
			<td colspan="4" align="center">
				<a th:href="|/admin/member/1|" th:text="회원목록" class="bhBigButton"></a>
				<a th:href="|/admin/memModi/${bhMemData.pid}|" th:text="수정" class="bhBigButton"></a>
				<a th:href="|/admin/memDelete/${bhMemData.pid}|" th:text="삭제" class="bhBigButton"></a>
			</td>
		</tr>
	</table>
	
	
</th:block>

<th:block layout:fragment="adAdd-content">
</th:block>


</html>