<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="total/adTemp">

<th:block layout:fragment="adTitle">
	<title>관리자_회원관리</title>
</th:block>

<th:block layout:fragment="adContent">
	<h2 class="bhH2">회원관리</h2>
	<!--<span th:text="'회원수: '+${bhMemData.size()}+' 명'"></span>-->
	<div>
		<table align="center" class="bhTable">
			<thead>
<!--검색폼-->
			<form action="" th:object="${bhMemDTO}">
				<tr>
					<td colspan="7" align="center">
						회원이름
						<input type="text" th:field="*{sch}" class="bhInput"/>
						&nbsp;&nbsp; 회원그룹
						<select th:field="*{grade}" class="bhSelShort">
							<option value="전체" th:text="전체"></option>
							<option value="일반" th:text="일반"></option>
							<option value="블랙" th:text="블랙"></option>
							<option value="관리자" th:text="관리자"></option>
						</select>
						<input type="submit" value="검색" class="bhSearSub"/>
					</td>
				</tr>
			</form>
			
			<tr>
				<td>번호</td>
				<td>아이디</td>
				<td>이름</td>
				<td>전화번호</td>
				<td>이메일</td>
				<td>등급</td>
				<td>강아지등록수</td>
			</tr>
			</thead>
			
			<tbody>
			<tr th:each="dto, dtoStat: ${bhMemData}">
				<td th:text="${dtoStat.index+1}"/>
				<td><a th:href="@{|/admin/memPid/${dto.pid}|}" th:text="${dto.pid}"/></td>
				<td th:text="${dto.pname}"/>
				<td th:text="${dto.tel}"/>
				<td th:text="${dto.email}"/>
				<td th:text="${dto.grade}"/>
				<td th:text="${dto.dogTotalCnt()}"/>
			</tr>
			</tbody>
		</table>
		
	</div>
</th:block>

<th:block layout:fragment="adAdd-content">
</th:block>

</html>