<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<body th:fragment="main-foot">
<div class="gsFoot">
<div class="FooCoo">Cookie Maru</div>
<div class="FooInfo"><h2>HEAD Office</h2>
06615 서울특별시 서초구 서초대로 73길 12<br>
 9층(서초동, 세계빌딩)<br><br>
  9F, SEGYE Bldg, 12 Seocho-daero<br>
   73-gil, Seocho-gu, Seoul, KOREA</div>
<div class="FooInfo"><h2>STORE Office</h2>
06615 서울특별시 서초구 서초대로 73길 12<br>
 B1층(서초동, 세계빌딩)<br><br>
 B1F, SEGYE Bldg, 12 Seocho-daero<br>
  73-gil, Seocho-gu, Seoul, KOREA</div>
<div class="FooInfo"><h2>지하철</h2>
2호선 – 강남역 9번 출구, 도보 200M<br>
<h2>운영시간</h2>
매일 10:00 ~ 22:00<br>
※ 자차 이용시 발렛 주차 가능</div>
<div class="FooA">
	<a href="https://www.facebook.com/" target="_blank"><img src="/decoimg/face.png" alt="" width="30px" /></a>
	<a href="https://www.instagram.com/" target="_blank"><img src="/decoimg/insta.png" alt="" width="55px" /></a>
	<a href="https://www.youtube.com/" target="_blank"><img src="/decoimg/you.png" alt="" width="30px" /></a>
</div>
<div class="FooInfo"><h2>대표전화</h2>010-1234-5578</div>
<div class="FooInfo"><h2>e-mail</h2> tkrhd8567@naver.com</div>
<div class="FooCopy"><br><br><br>COPYRIGHT © 2023 Cookie Maru</div>
</div>
</body>
</html>