<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="total/userTemp">

<th:block layout:fragment="title">
	<title>공지사항</title>
</th:block>

<th:block layout:fragment="content">
	
	<h1>상세보기</h1>
	<hr>
	
	
	  <div class="container">
        <div class="notice_title"><span th:text="${mainData.title}"></span></div>
        <div class="notice_info">
            ● No : <span th:text="${mainData.num}"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
             ● 조회수 : <span th:text="${mainData.cnt}"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
             ● 등록일 : <span th:text="${mainData.date()}"></span>
        </div>
       
            <div class="notice_image">
            <img  th:src="@{|/dimg/${mainData.photoFile}|}" alt="이미지" />
            </div>
             <div class="notice_content">
            <span th:text="${mainData.content}"></span>
        </div>
    </div>
    <div class="button_container">
       <a class="gsButton" th:href="|/user/notice/1|" th:text="뒤로"/>
    </div>
	
</th:block>



</html>