<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="total/userTemp">



<th:block layout:fragment="title">
	<title>공지사항</title>
</th:block>

<th:block layout:fragment="content">
	
<h1>공지사항</h1>
<hr>
	<div  class ="notice_search">
<form action="" th:object="${PData}" method="post">
					<input type="text" th:field="*{sch}" /> &nbsp;&nbsp;&nbsp;
					<input  class="gsButton" type="submit" value="검색" />
</form>
</div>
<div class ="notice_wrapper">
<div class ="notice_list">
	<ul>
	<th:block th:each="dto, dtostat : ${mainData}">
		<li>
			<div class ="ll">No<hr style="width:40px; margin:6px 30px 6px 25px;"><span th:text="${dtostat.index+1}"></span></div>
			<div class = "rr">
				<a th:href="@{|detail/${dto.num}|}" th:text="${dto.title}"/>
					<ul class="listul">	
						<li><span th:text="${dto.date()}"></span></li>
						<li>조회수 : <span th:text="${dto.cnt}"></span></li>
					</ul>
			</div>
		</li>	
		<hr style="margin-top:0px; margin-bottom:10px;">
		
		</th:block>
	</ul>
		<div class="button_container">
	    	<th:block th:if="${pd.startPage > 1}"><a class="gsPButton" th:href="${pd.nowPage-1}" th:text="이전"></a></th:block>
					<span th:each="p : ${#numbers.sequence(pd.startPage, pd.endPage, 1)}" th:href="${p}">
						<th:block th:if="${pd.nowPage == p}"><button class="gsPButton" th:text="${p}">[[${p}]]</button></th:block>
						<th:block th:unless="${pd.nowPage == p}"><a class="gsPButton" th:href="${p}" th:text="${p}"></a></th:block>
					</span>
					<th:block th:if="${pd.endPage < pd.totalPage}"><a class="gsPButton" th:href="${pd.endPage+1}" th:text="다음"></a></th:block>
        </div>
</div>
</div>
	
</th:block>







</html>











