<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org/DTO Mapper3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="coo.admin.db.BhAttendMapper">

	<select id="todayListBig" resultType="bhAtDTO">
		select * from reser where dogsize = "대형견" and #{today} BETWEEN startD AND endD and weeks like concat('%',#{dayStr},'%')
	</select>

	<select id="todayListSmall" resultType="bhAtDTO">
		select * from reser where dogsize = "중/소형견" and #{today} BETWEEN startD AND endD and weeks like concat('%',#{dayStr},'%')
	</select>

</mapper>