<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org/DTD Mapper3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="coo.admin.db.ShNoticeMapper">

	<select id="list" resultType="nDTO" parameterType="pD">
	  select * from notice
	  <where>
			<trim prefix=" " suffixOverrides ="and | or">
				<if test="sch != null">
					title like concat('%',#{sch},'%')
				</if>
			</trim>
		</where>
	</select>
	
	<sql id="wid">
		where num = #{num}
	</sql>
	
	<select id="detail" parameterType="nDTO" resultType="nDTO" > 
		select * from notice
		<include refid="wid"/>
	</select>
	
	<update id="up" parameterType="nDTO">
		update notice set cnt = cnt+1
		<include refid="wid"/>
	</update>
	
	<update id="modify" parameterType="nDTO">
		update notice set title = #{title}, photoFile = #{photoFile}, content = #{content}
		<include refid="wid"/>
	</update>
	
	<insert id="insert" parameterType="nDTO" > 
		<selectKey keyProperty="num" resultType="Integer" order="BEFORE">
			select max(num)+1 from notice
		</selectKey>
		
		insert into notice(num, title, photoFile, content, reg_date)
		values
		(#{num}, #{title}, #{photoFile}, #{content}, sysdate())
		
	</insert>
	
	<delete id="delete" parameterType="nDTO">
		delete from notice
		<include refid="wid"/>
		<!-- delete from board where id = #{id} and pw = '1111' -->
	</delete>
	
	<select id="ntotal" parameterType="pD"> 
		select count(*) from notice
		  	<where>
				<trim prefix=" " suffixOverrides ="and | or">
					<if test="sch != null">
						title like concat('%',#{sch},'%')
					</if>
				</trim>
			</where>
	</select>

</mapper>