<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org/DTD Mapper3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="coo.admin.db.ShReservationMapper">
	

	<select id="list" resultType="rDTO" parameterType="pD">
		select * from reser
		<where>
			refund = 0 and endD >= date_sub(sysdate(), interval 1 day)
			<trim prefix=" ">
				<if test="sch != null and sch != ''">
					<if test="cate != null and cate != ''">
						and ${cate} like concat('%',#{sch},'%') 
					</if>
				</if>
			</trim>
		</where>
		order by startD limit #{start}, #{limit} 
		
	</select>
	
	<select id="endlist" resultType="rDTO" parameterType="pD">
		select * from reser
		<where>
			refund = 0 and endD &lt;= date_sub(sysdate(), interval 1 day) 
			<trim prefix=" ">
				<if test="sch != null and sch != ''  ">
					<if test="cate != null and cate != ''  ">
						and ${cate} like concat('%',#{sch},'%')
					</if>
				</if>
			</trim>
		</where>
		order by startD desc limit #{start}, #{limit}
		
	</select>

	<select id="refundList" resultType="rDTO" parameterType="pD">
		select * from reser
		<where>
			refund > 0
			<if test="startD != null and endD != null and startD != '' and endD != ''">
	     		and refundD between #{startD} and #{endD}
	    	</if>
		</where>
		order by refundD desc
	</select>
	
	<sql id="wid">
		where reserNo = #{reserNo}
	</sql>
	
	<select id="detail" parameterType="rDTO" resultType="rDTO" > 
		select * from reser
		<include refid="wid"/>
	</select>
	
	<update id="modify" parameterType="rDTO">
		update reser set reque = #{reque}
		<include refid="wid"/>
	</update>
	
	<update id="delete" parameterType="rDTO">
		update reser set refund = #{refund}, refundD = sysdate()
		<include refid="wid"/>
	</update>
	
	<select id="total" parameterType="pD"> 
		select count(*) from reser
		<where>
			refund = 0 and endD >= date_sub(sysdate(), interval 1 day)
			<trim prefix=" ">
				<if test="sch != null and sch != ''  ">
					<if test="cate != null and cate != ''  ">
						and ${cate} like concat('%',#{sch},'%') 
					</if>
				</if>
			</trim>
		</where>
	</select>
	
	<select id="endtotal" parameterType="pD"> 
		select count(*) from reser
		<where>
			refund = 0 and endD &lt;= date_sub(sysdate(), interval 1 day)
			<trim prefix=" ">
				<if test="sch != null and sch != ''  ">
					<if test="cate != null and cate != ''  ">
						and ${cate} like concat('%',#{sch},'%') 
					</if>
				</if>
			</trim>
		</where>
	</select>
	
	<select id="refundtotal" parameterType="pD">
		select count(*) from reser
		<where>
			refund > 0
			<if test="startD != null and endD != null and startD != '' and endD != ''">
	     		and refundD between #{startD} and #{endD}
	    	</if>
		</where>
		order by refundD desc
	</select>
	
	<select id="attendAll" parameterType="rDTO" resultType="int">
        select count(*) from daybyday 
        <where>
            reserNo = #{reserNo} and oneDay &lt;= date_sub(sysdate(), interval 1 day)
        </where>
    </select>
    
    <update id="clear" parameterType="rDTO">
		update reser set refundChk = 1
		<include refid="wid"/>
	</update>



</mapper>