<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org/DTD Mapper3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="coo.admin.db.ShSalesMapper">

	<select id="salesList" resultType="rDTO" parameterType="pD">
	  select * from reser
	  <where>
	    <if test="startD != null and endD != null and startD != '' and endD != ''">
	      and payD between #{startD} and #{endD}
	    </if>
	  </where>
	  order by payD desc
	</select>
	
	<!-- limit만 주고 총 매출액은 변동없게하고싶다  -->
	<select id="salestotal" parameterType="pD">
		select count(*) from reser
		<where>
		    <if test="startD != null and endD != null and startD != '' and endD != ''">
		      and payD between #{startD} and #{endD}
		    </if>
	  	</where>
	  	order by payD
	</select>

</mapper>