<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultroq.net.nz/thymeleaf/layout"
layout:decorate="total/userTemp">
<th:block layout:fragment="title">
<title>queList</title>
</th:block>

<th:block layout:fragment="content">
<div class="myPageMenu">
<a href="/user/myPage/memPage">내정보</a>
<a href="/user/myPage/dogJoinChk">애견등록</a>
<a href="/user/myPage/dogList">내애견리스트</a>
<a href="/user/myPage/gsMyList">내 이용권</a>
<a href="/user/question/questionInsert">1:1 문의</a>
</div>
<h1>내질문 리스트</h1>
<table border="">
<form action="" th:object="${hmQnaDTO}">
		<tr>
			<td colspan="5" align="center">
				제목
				<input type="text" th:field="*{sch}" />
				<input type="submit" value="검색" />
			</td>
		</tr>
	</form>
	
	<tr>
		<td colspan="5">
			<a href="/user/question/a/1">답변완료</a>
			<a href="/user/question/a/2">미답변</a>
		</td>
	</tr>
	
	<tr>
		<td>번호</td>
		<td>제목</td>
		<td>작성자</td>
		<td>작성일</td>
		<td>상태</td>
	</tr>
	<tr th:each="dto, dtoStat : ${myqnalist}">
		<td th:text="${dtoStat.index}+1"/>
		<td><a th:href="@{|/user/question/queDetail/${dto.no}|}" th:text="${dto.title}"/></td>
		<td th:text="${dto.pid}"/>
		<td th:text="${dto.rDate()}"/>
		<td th:if="${dto.getAnswer != null}" th:text="답변완료"/>
		<td th:if="${dto.getAnswer == null}" th:text="답변확인중"/>
	</tr>
	<tr>
		<td colspan="5" align="right">
			<a th:href="|/user/myPage/memPage|" th:text="뒤로" />
			<a th:href="|/user/question/questionInsert|" th:text="문의작성"/>
		</td>
	</tr>
</table>
</th:block>

<th:block layout:fragment="add-content">
</th:block>
</html>