<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultroq.net.nz/thymeleaf/layout"
layout:decorate="total/userTemp">
<th:block layout:fragment="title">
<title>questionInsert</title>
</th:block>

<th:block layout:fragment="content">
<div class="myPageMenu">
<a href="/user/myPage/memPage">내정보</a>
<a href="/user/myPage/dogJoinForm">애견등록</a>
<a href="/user/myPage/dogList">내애견리스트</a>
<a href="/user/myPage/gsMyList">내 이용권</a>
<a href="/user/question/questionInsert">1:1 문의</a>
<a href="/user/question/queList/1">문의내역</a>
</div>
<div class="hmqueInsert">
<h1>질문작성</h1>
<form method="post" th:object="${hmQnaDTO}">
	<table>
		<tr class="hmtitlekind">
			<td colspan="4">문의 작성</td>
		</tr>
		<tr>
			<td>제목</td>
			<td>
				<input type="text" th:field="*{title}" />
				<p class="hme_msg"  th:if="${#fields.hasErrors('title')}" th:errors="*{title}">에러다</p>
			</td>
			<td align="right">아이디</td>
			<td>[[${pid}]]</td>
		</tr>
		<tr>
			<td colspan="4" align="center">
				<textarea th:field="*{content}"/>
				<p class="hme_msg"  th:if="${#fields.hasErrors('content')}" th:errors="*{content}">에러다</p>
			</td>
		</tr>
		<tr>
			<td colspan="4" align=center>
				<a th:href="|/user/question/queList/1|" th:text="뒤로" />
				<input type="submit" value="등록하기" />
			</td>
		</tr>
	</table>
</form>
</div>
</th:block>
<th:block layout:fragment="add-content">
</th:block>
</html>