<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="total/userTemp">


<th:block layout:fragment="title">
	<title>결제 정보</title>
</th:block>

<th:block layout:fragment="content">
<script src="https://cdn.iamport.kr/v1/iamport.js"></script> 
<script th:inline="javascript">

var IMP = window.IMP;
IMP.init('imp58784867');

function Pay() {
   //iamport 대신 자신의 "가맹점 식별코드"를 사용
   var prpr= /*[[${gsReserDTO.totFee/1000}]]*/
  IMP.request_pay({
    pg: "html5_inicis",
    pay_method: "card",
    merchant_uid : 'merchant_'+new Date().getTime(),
    name : '결제테스트',
    amount : prpr,
    buyer_email : 'iamport@siot.do',
    buyer_name : '구매자',
    buyer_tel : '010-1234-5678',
    buyer_addr : '서울특별시 강남구 삼성동',
    buyer_postcode : '123-456'
  },
  
  function (rsp) { // callback
	  if (rsp.success) {
	      var msg = '결제가 완료되었습니다.';
	      alert(msg);
	      gsFrm.submit()
	    } else {
	      var msg = '결제에 실패하였습니다.';
	      msg += ' ' + rsp.error_msg;
	      alert(msg);
	    }
  });
}
</script>
<h1>이용권 정보</h1>
<hr>
<div class="gsDetail">
	<form name="gsFrm" action="/user/school/gsFin" th:object="${gsReserDTO}" method="post">
		<h2>결제자 아이디</h2>
		<input type="text" th:field="*{pid}"readonly/>
		<h2>강아지이름</h2>
		<input type="text" th:field="*{dname}"readonly/>
		<h2>요일</h2>
		<input type="text" th:field="*{weeks}"readonly/>
		<h2>이용권 종류</h2>
		<input type="text" th:field="*{kind}"readonly/>
		<h2>이용권 기간</h2>
		<input type="text" th:value="${gapStr}"readonly/>
		<input type="hidden" th:field="*{gap}"readonly/>
		<h2>이용권금액</h2>
		<span th:text="${gsReserDTO.payStr()}"></span>
		<input type="hidden" th:field="*{pay}"readonly/>
		<h2>교육추가금액</h2>
			<span th:text="${gsReserDTO.eduFeeStr()}"></span>
		<input type="hidden" th:field="*{eduFee}"readonly/>
		<h2>총 금액</h2>
		<span th:text="${gsReserDTO.totFeeStr()}"></span>
		<input type="hidden" th:field="*{totFee}"readonly/>
		<h2>강아지 크기</h2>
		<input type="text" th:field="*{dogsize}"readonly/>
		<h2>추가교육</h2>
		<input type="text" th:field="*{edu}"readonly/>
		<h2>등원 일짜</h2>
		<input type="text" th:field="*{startD}"readonly/>
		<h2>요청사항</h2>
		<input type="text" th:field="*{reque}"readonly/>
		<h1></h1>
		<h1>
			--------------환불 약정--------------
		</h1>
		<h2>
			[시작 전]</br>
			10일 전 환불 100%</br>
			5일 전 환불 90%</br>
			1일 전 환불 80%</br>
			[시작 후]</br>
			총 기간의 </br>
			30% 이하 이용 시 환불  40%</br>
			50% 이하 이용 시 환불   20%</br>
			50% 이상 이용 시 환불불가 </br>
		</h2>
	</form> <br>
	<input class="gsButton" type="button" id="gg" value="결제 하기" onclick="Pay()" />
	</div>
</th:block>

<th:block layout:fragment="add-content">
</th:block>

</html>