<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="total/userTemp">


<th:block layout:fragment="title">
	<title>디테일 선택</title>
</th:block>

<th:block layout:fragment="content">

 <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
    $(document).ready(function () {
      var today = new Date();
      var threeMonthsLater = new Date();
      threeMonthsLater.setMonth(today.getMonth() + 2);

      var todayFormatted = formatDate(today);
      var threeMonthsLaterFormatted = formatDate(threeMonthsLater);

      $('#myDate').attr('min', todayFormatted);
      $('#myDate').attr('max', threeMonthsLaterFormatted);
      $('#myDate').attr('onchange', 'validateDate(this)');

      var forbiddenDate = new Date("2023-08-25"); // 특정 날짜

      function formatDate(date) {
        var year = date.getFullYear();
        var month = ('0' + (date.getMonth() + 1)).slice(-2);
        var day = ('0' + date.getDate()).slice(-2);
        return year + '-' + month + '-' + day;
      }

      function validateDate(input) {
        var selectedDate = new Date(input.value);
        var selectedDateFormatted = formatDate(selectedDate);

        if (selectedDate.getTime() === forbiddenDate.getTime()) {
          input.setCustomValidity('선택할 수 없는 날짜입니다.');
        } else {
          input.setCustomValidity('');
        }
      }
    });
    </script>
<h1>상세정보 입력</h1>
<hr>
<div class="gsDetail">
	<form action="/user/school/gsBuy" th:object="${gsReserDTO}" method="post">
		<input type="hidden" th:field="*{dname}"/>
		<input type="hidden" th:field="*{weeks}"/>
		<input type="hidden" th:field="*{kind}"/>
		<input type="hidden" th:field="*{gap}"/>
		<input type="hidden" th:field="*{pay}"/>
		<input type="hidden" th:field="*{dogsize}"/>
		<h2>정규 교육</h2>
		<select name="edu" id="edu">
			<option value="-" selected="selected">일반</option>
			<option value="배변">배변 교육 (일일 2,900원)</option>
			<option value="분리불안">분리불안 교육 (일일 4,900원)</option>
			<option value="공격성">공격성 교육 (일일 5,900원)</option>
		</select>
		<h2>요청 사항</h2>
		<textarea name="reque"></textarea>
		<h2>등원 날짜</h2>
		<input type="date" id="myDate" name="startD" required="required"/>
		</br></br>
		<input class="gsButton"  type="submit" value="결제"/>
	</form>
	</div>
</th:block>

<th:block layout:fragment="add-content">
</th:block>

</html>