<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="total/userTemp">


<th:block layout:fragment="title">
	<title>디테일 선택</title>
</th:block>

<th:block layout:fragment="content">

<script>
// 오늘 날짜를 가져옵니다.
var today = new Date();
var year = today.getFullYear();
var month = today.getMonth();
var day = today.getDate();

// 최소 날짜: 오늘 날짜
var minDate = new Date(year, month, day).toISOString().split('T')[0];

// 최대 날짜: 오늘 날짜로부터 3개월 후
var maxDate = new Date(year, month + 3, day).toISOString().split('T')[0];

// 최소 날짜와 최대 날짜를 설정합니다.
var inputDate = document.getElementById('myDate');
inputDate.setAttribute('min', minDate);
inputDate.setAttribute('max', maxDate);
</script>

<h1>상세정보 입력</h1>
<hr>
<div class="gsDetail">
	<form action="/user/school/gsBuy" th:object="${gsReserDTO}" method="post">
		<input type="hidden" th:field="*{dname}"/>
		<input type="hidden" th:field="*{weeks}"/>
		<input type="hidden" th:field="*{kind}"/>
		<input type="hidden" th:field="*{gap}"/>
		<input type="hidden" th:field="*{pay}"/>
		<input type="hidden" th:field="*{dogsize}"/>
		<h2>정규 교육</h2>
		<select name="edu" id="edu">
			<option value="-" selected="selected">일반</option>
			<option value="배변">배변 교육 (일일 2,900원)</option>
			<option value="분리불안">분리불안 교육 (일일 4,900원)</option>
			<option value="공격성">공격성 교육 (일일 5,900원)</option>
		</select>
		<h2>요청 사항</h2>
		<textarea name="reque"></textarea>
		<h2>등원 날짜</h2>
		<input type="date" id="myDate" name="startD" required="required"/>
		</br></br>
		<input class="gsButton"  type="submit" value="결제"/>
	</form>
	</div>
</th:block>

<th:block layout:fragment="add-content">
</th:block>

</html>