<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="total/userTemp">


<th:block layout:fragment="title">
	<title>강아지 선택</title>
</th:block>

<th:block layout:fragment="content">
<h1>이용권 구매</h1>
	<div class="prDog">
		<div class="dogMenu">
			
			<div  th:each="dto: ${dogData}">
				<h2><span class="gsName123" th:text="${dto.dname}"></span></h2>
				<div class="gsDog123">
				<a th:href="@{|/user/school/packSelect/${dto.dname}|}" >
				  <img  th:src="@{|/dimg/${dto.photo}|}" alt="" >
				  </a><br>
				  크기 : <span th:text="${dto.dogsize}"></span><br>
				  견종 : <span th:text="${dto.breed}"></span><br>
				  최근 이용권 : <br>
				   <th:block th:each="kk: ${dogReser}">
					  <th:block th:if="${kk.dname == dto.dname}">
						<span th:text="${kk.startD+'~'+kk.endD}"></span><br>
					  </th:block>
				   </th:block>
				  
				  </div>
			</div>
		</div>
		<div class="prMenu">
		<h2>&#60;정규반&gt;</h2>
		<h3>-3개월 패키지 (84일)</h2>&nbsp;&nbsp;&nbsp;5일권 대형 240만원, 중/소형 180만원<br>&nbsp;&nbsp;&nbsp;3일권 대형 155만원, 중/소형 120만원<br>&nbsp;&nbsp;&nbsp;2일권 대형 105만원, 중/소형 82만원<br>
		<h3>-1개월 패키지 (28일)</h2>&nbsp;&nbsp;&nbsp;5일권 대형 90만원, 중/소형 70만원<br>&nbsp;&nbsp;&nbsp;3일권 대형 55만원, 중/소형 43만원<br>&nbsp;&nbsp;&nbsp;2일권 대형 37만원, 중/소형 28만원<br>
		<h3>-2주 패키지 (14일)</h2>&nbsp;&nbsp;&nbsp;5일권 대형 48만원, 중/소형 38만원<br>&nbsp;&nbsp;&nbsp;3일권 대형 29만원, 중/소형 23만원<br>&nbsp;&nbsp;&nbsp;2일권 대형 19.5만원, 중/소형 15.5만원<br>
		<br />
		<h2>&#60;일일반&gt;</h2>&nbsp;&nbsp;&nbsp;1일권 대형 5만원, 중/소형 4만원
		</div>
	</div>
</th:block>

<th:block layout:fragment="add-content">

</th:block>

</html>