<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="total/userTemp">


<th:block layout:fragment="title">
	<title>패키지 선택</title>
</th:block>

<th:block layout:fragment="content">
<h1>패키지 선택</h1>
<hr>
	<th:block th:if="${packFilter.equals('중형견') || packFilter.equals('소형견')}">
    	<div class="packWrapper">
    	<h1></h1>
    	
	<h1>&#60;일일반&gt;</h1>
	<h2>-일일 패키지</h2>
		<div >
			<h3>일일 소형권 40,000원</h3>
			
		<form action="" method="post">
			<input type="hidden" name="dogsize" value="중/소형견" />
			<input type="hidden" name="kind" value="일일권" />
			<input type="hidden" name="gap" value="0" />
			<input type="hidden" name="weeks" value="0" />
			<input type="hidden" name="pay" value="40000" />
			<input type="submit" value="선택"/>
		</form>
		</div>
	<br><br>
	<h1>&#60;정규반&gt;</h1>
	
		<h2>-2주 패키지</h2>
		<div >
			<h3>정기 5일 소형권 380,000원</h3>	
		<form action="" method="post">
			<input type="hidden" name="dogsize" value="중/소형견" />
			<input type="hidden" name="kind" value="정기권" />
			<input type="hidden" name="gap" value="14" />
			<input type="hidden" name="weeks" value="월화수목금" />
			<input type="hidden" name="pay" value="380000" />
			<input type="submit"  value="선택"/>
		</form>
		</div>
		<br>
		<div >
			<h3>정기 3일 소형권(월수금) 230,000원</h3>	
		<form action="" method="post">
			<input type="hidden" name="dogsize" value="중/소형견" />
			<input type="hidden" name="kind" value="정기권" />
			<input type="hidden" name="gap" value="14" />
			<input type="hidden" name="weeks" value="월수금" />
			<input type="hidden" name="pay" value="230000" />
			<input type="submit"  value="선택"/>
		</form>
		</div>
		<br>
		<div >
			<h3>정기 2일 소형권(화목) 155,000원</h3>	
			<form action="" method="post">
			<input type="hidden" name="dogsize" value="중/소형견" />
			<input type="hidden" name="kind" value="정기권" />
			<input type="hidden" name="gap" value="14" />
			<input type="hidden" name="weeks" value="화목" />
			<input type="hidden" name="pay" value="155000" />
			<input type="submit"  value="선택"/>
		</form>
		</div>
		
		<br><br>
		<h2>-한달 패키지</h2>
		<div >
			<h3>정기 5일 소형권 700,000원</h3>	
			<form action="" method="post">
			<input type="hidden" name="dogsize" value="중/소형견" />
			<input type="hidden" name="kind" value="정기권" />
			<input type="hidden" name="gap" value="28" />
			<input type="hidden" name="weeks" value="월화수목금" />
			<input type="hidden" name="pay" value="700000" />
			<input type="submit"  value="선택"/>
		</form>
		</div>
		<br>
		<div >
			<h3>정기 3일 소형권(월수금) 430,000원</h3>	
			<form action="" method="post">
			<input type="hidden" name="dogsize" value="중/소형견" />
			<input type="hidden" name="kind" value="정기권" />
			<input type="hidden" name="gap" value="28" />
			<input type="hidden" name="weeks" value="월수금" />
			<input type="hidden" name="pay" value="430000" />
			<input type="submit"  value="선택"/>
		</form>
		</div>
		<br>
		<div >
			<h3>정기 2일 소형권(화목) 280,000원</h3>	
			<form action="" method="post">
			<input type="hidden" name="dogsize" value="중/소형견" />
			<input type="hidden" name="kind" value="정기권" />
			<input type="hidden" name="gap" value="28" />
			<input type="hidden" name="weeks" value="화목" />
			<input type="hidden" name="pay" value="280000" />
			<input type="submit"  value="선택"/>
		</form>
		</div>
		<br><br>
		<h2>-3개월 패키지</h2>
		<div >
			<h3>정기 5일 소형권 1,800,000원</h3>	
			<form action="" method="post">
			<input type="hidden" name="dogsize" value="중/소형견" />
			<input type="hidden" name="kind" value="정기권" />
			<input type="hidden" name="gap" value="84" />
			<input type="hidden" name="weeks" value="월화수목금" />
			<input type="hidden" name="pay" value="1800000" />
			<input type="submit"  value="선택"/>
		</form>
		</div>
		<br>
		<div >
			<h3>정기 3일 소형권(월수금) 1,200,000원</h3>	
			<form action="" method="post">
			<input type="hidden" name="dogsize" value="중/소형견" />
			<input type="hidden" name="kind" value="정기권" />
			<input type="hidden" name="gap" value="84" />
			<input type="hidden" name="weeks" value="월수금" />
			<input type="hidden" name="pay" value="1200000" />
			<input type="submit"  value="선택"/>
		</form>
		</div>
		<br>
		<div >
			<h3>정기 2일 소형권(화목) 820,000원</h3>	
			<form action="" method="post">
			<input type="hidden" name="dogsize" value="중/소형견" />
			<input type="hidden" name="kind" value="정기권" />
			<input type="hidden" name="gap" value="84" />
			<input type="hidden" name="weeks" value="화목" />
			<input type="hidden" name="pay" value="820000" />
			<input type="submit"  value="선택"/>
		</form>
		</div>
	</div>
    </th:block>
    <th:block th:if="${packFilter.equals('대형견')}">
   	<div class="packWrapper">
   	<h1></h1>
	<h1>&#60;일일반&gt;</h1>
	<h2>-일일 패키지</h2>
		<div >
			<h3>일일 대형권 50,000원</h3>	
			<form action="" method="post">
			<input type="hidden" name="dogsize" value="대형견" />
			<input type="hidden" name="kind" value="일일권" />
			<input type="hidden" name="gap" value="0" />
			<input type="hidden" name="weeks" value="0" />
			<input type="hidden" name="pay" value="50000" />
			<input type="submit"  value="선택"/>
		</form>
		</div>
		<br><br>
	<h1>&#60;정규반&gt;</h1>
	<br><br>
		<h2>-2주 패키지</h2>
		<div >
			<h3>정기 5일 대형권 480,000원</h3>	
			<form action="" method="post">
			<input type="hidden" name="dogsize" value="대형견" />
			<input type="hidden" name="kind" value="정기권" />
			<input type="hidden" name="gap" value="14" />
			<input type="hidden" name="weeks" value="월화수목금" />
			<input type="hidden" name="pay" value="480000" />
			<input type="submit"  value="선택"/>
		</form>
		</div>
		<br>
		<div >
			<h3>정기 3일 대형권(월수금) 290,000원</h3>	
			<form action="" method="post">
			<input type="hidden" name="dogsize" value="대형견" />
			<input type="hidden" name="kind" value="정기권" />
			<input type="hidden" name="gap" value="14" />
			<input type="hidden" name="weeks" value="월수금" />
			<input type="hidden" name="pay" value="290000" />
			<input type="submit"  value="선택"/>
		</form>
		</div>
		<br>
		<div >
			<h3>정기 2일 대형권(화목) 195,000원</h3>	
			<form action="" method="post">
			<input type="hidden" name="dogsize" value="대형견" />
			<input type="hidden" name="kind" value="정기권" />
			<input type="hidden" name="gap" value="14" />
			<input type="hidden" name="weeks" value="화목" />
			<input type="hidden" name="pay" value="195000" />
			<input type="submit"  value="선택"/>
		</form>
		</div>
		<br><br>
		<h2>-한달 패키지</h2>
		<div >
			<h3>정기 5일 대형권 900,000원</h3>	
			<form action="" method="post">
			<input type="hidden" name="dogsize" value="대형견" />
			<input type="hidden" name="kind" value="정기권" />
			<input type="hidden" name="gap" value="28" />
			<input type="hidden" name="weeks" value="월화수목금" />
			<input type="hidden" name="pay" value="900000" />
			<input type="submit"  value="선택"/>
		</form>
		</div>
		<br>
		<div >
			<h3>정기 3일 대형권(월수금) 550,000원</h3>	
			<form action="" method="post">
			<input type="hidden" name="dogsize" value="대형견" />
			<input type="hidden" name="kind" value="정기권" />
			<input type="hidden" name="gap" value="28" />
			<input type="hidden" name="weeks" value="월수금" />
			<input type="hidden" name="pay" value="550000" />
			<input type="submit"  value="선택"/>
		</form>
		</div>
		<br>
		<div >
			<h3>정기 2일 대형권(화목) 370,000원</h3>	
			<form action="" method="post">
			<input type="hidden" name="dogsize" value="대형견" />
			<input type="hidden" name="kind" value="정기권" />
			<input type="hidden" name="gap" value="28" />
			<input type="hidden" name="weeks" value="화목" />
			<input type="hidden" name="pay" value="370000" />
			<input type="submit"  value="선택"/>
		</form>
		</div>
		<br><br>
		<h2>-3개월 패키지</h2>
		<div >
			<h3>정기 5일 대형권 2,400,000원</h3>	
			<form action="" method="post">
			<input type="hidden" name="dogsize" value="대형견" />
			<input type="hidden" name="kind" value="정기권" />
			<input type="hidden" name="gap" value="84" />
			<input type="hidden" name="weeks" value="월화수목금" />
			<input type="hidden" name="pay" value="2400000" />
			<input type="submit"  value="선택"/>
		</form>
		</div>
		<br>
		<div >
			<h3>정기 3일 대형권(월수금) 1,550,000원</h3>	
			<form action="" method="post">
			<input type="hidden" name="dogsize" value="대형견" />
			<input type="hidden" name="kind" value="정기권" />
			<input type="hidden" name="gap" value="84" />
			<input type="hidden" name="weeks" value="월수금" />
			<input type="hidden" name="pay" value="1550000" />
			<input type="submit"  value="선택"/>
		</form>
		</div>
		<br>
		<div >
			<h3>정기 2일 대형권(화목) 1,050,000원</h3>	
			<form action="" method="post">
			<input type="hidden" name="dogsize" value="대형견" />
			<input type="hidden" name="kind" value="정기권" />
			<input type="hidden" name="gap" value="84" />
			<input type="hidden" name="weeks" value="화목" />
			<input type="hidden" name="pay" value="1050000" />
			<input type="submit"  value="선택"/>
		</form>
		</div>
		
	</div>
    </th:block>

</th:block>

<th:block layout:fragment="add-content">
	<h3>나는 추가내용</h3>
</th:block>

</html>