<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultroq.net.nz/thymeleaf/layout"
layout:decorate="total/userTemp">
<th:block layout:fragment="title">
<title>login_findId</title>
</th:block>

<th:block layout:fragment="content">

	<script type="text/javascript" src="/qqq/jquery_3_6_3.js"></script>
	<script th:inline="javascript">
		function chkIdNo(button) {
			var todayNo = button.value; // 버튼의 값 가져오기
			
			$.ajax({
				url: "/user/log/findId", //실행코드가 있는 컨트롤러의 메소드
				type: "POST",
				data: {todayNo: todayNo},
				success: function (res) {
					alert(res);
					location.reload(); //화면새로고침
				},
				error: function (ee) {
					// 실패하면 에러메시지
					console.log(ee);
					console.log(todayNo);
				},
			});
		}
	</script>

<h1>아이디찾기</h1>


<form method="post" th:object="${hmMemberDTO}">
	
	
	<div class="hm_loginWrapper">
		<div>
			<h3>LOGIN</h3>
		</div>
		<div>
			<input type="text" th:field="*{pid}" />
		</div>
		<div>
			<input type="text" th:field="*{pw}" />
		</div>
		<div>
			<input type="submit" value="로그인" />
			<a href="/user/log/joinForm">회원가입</a>
			<a href="/user/log/findId">아이디찾기</a>
			<a href="/user/log/findPw">비밀번호찾기</a>
		</div>
	</div>
</form>
</th:block>

<th:block layout:fragment="add-content">
</th:block>
</html>