<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultroq.net.nz/thymeleaf/layout"
layout:decorate="total/userTemp">
<th:block layout:fragment="title">
<title>joinForm</title>
</th:block>

<th:block layout:fragment="content">
<script type="text/javascript" src="/qqq/jquery_3_6_3.js"></script>
<script th:inline="javascript">
$(function(){
    $("#checkId").click(function(){
    
        let pid = $("#pid").val();
         
        $.ajax({
            type:'post', //post 형식으로 controller 에 보내기위함!!
            url:"/user/checkId.do", // 컨트롤러로 가는 mapping 입력
            data: {"pid":pid}, // 원하는 값을 중복확인하기위해서  JSON 형태로 DATA 전송
            success: function(data){ 
            	console.log(data);
             if(data == "N"){ // 만약 성공할시
                    result = "사용 가능한 아이디입니다.";
                    $("#result_checkId").html(result).css("color", "green");
                 
             }else if(data == "Y"){ // 만약 실패할시
                 result="이미 사용중인 아이디입니다.";
                     $("#result_checkId").html(result).css("color","red");
                     $("#pid").val("").trigger("focus");
             }else{ // 만약 실패할시
                 result="아이디를 적어주세요.";
                 $("#result_checkId").html(result).css("color","red");
                 $("#pid").val("").trigger("focus");
         }
                 
         },
            error : function(error){
            	alert(error);
            	console.log(data);            	
            }
        });
        
    });
    
});
</script>
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script th:inline="javascript">
window.onload = function() {
	document.getElementById("addressSch").addEventListener("click", function() {
			new daum.Postcode({
				oncomplete: function(data) {
					document.getElementById("address").value = data.address;
					document.getElementById("roadAddress").value = data.roadAddress;
// 					window.close();
				}
			}).open();
		
	});

}
</script>

<h1>회원가입</h1>
<form method="post" th:object="${hmMemberDTO}" enctype="multipart/form-data">
	<table border="">
		<tr>
			<td colspan="2" align=center>회원정보</td>
		</tr>
		<tr>
			<td>아이디</td>
			<td>
				<input type="text"  id="pid" th:field="*{pid}" /><br/>
			    <input type="button" id="checkId" value="중복검사"><br/>
			    <div><span id="result_checkId" style="font-size:12px;"></span></div>
			</td>
		</tr>
		<tr>
			<td>비밀번호</td>
			<td><input type="text" th:field="*{pw}" /></td>
		</tr>
		<tr>
			<td>비밀번호 확인</td>
			<td><input type="text" name="pw2" /></td>
		</tr>
		<tr>
			<td>이름</td>
			<td><input type="text" th:field="*{pname}" /></td>
		</tr>
		
		<tr>
			<td>전화번호</td>
			<td><input type="text" th:field="*{tel}" /></td>
		</tr>
		
		<tr>
			<td>주소</td>
			<td>
				<div class="form-container">
		        <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=12a21b08156b2f3c3a0967fbcc61ed3b"></script>
		        <div class="form-control" id="schbox">
		        <label for="address_kakao">
		            <input type="text"  th:field="*{addr1}" id="address" placeholder="주소 입력" readonly>
		            <input type="text" name="roadAddress" id="roadAddress" hidden>
		            <input type="button" id="addressSch" value="검색">
            	</label>
        		</div>
        		</div>
			</td>
		</tr>
		<tr>
			<td>상세주소</td>
			<td><input type="text" th:field="*{addr2}" /></td>
		</tr>
		<tr>
			<td>이메일</td>
			<td>
			<input type="text" th:field="*{email}" />@
				<select name="email2" >
					<option value="naver.com" th:text="naver.com"></option>
					<option value="gmail.com" th:text="gmail.com"></option>
					<option value="daum.net" th:text="daum.net"></option>
					<option value="nate.com" th:text="nate.com"></option>
					<option value="kakao.com" th:text="kakao.com"></option>
				</select>
			</td>
		</tr>
		<tr>
			<td>생년월일</td>
			<td><input type="date" name="birthstr" max="2004-12-31" /></td>
		</tr>
		<tr>
			<td>비밀번호 찾기 질문</td>
			<td>
				<select name="pwquestion">
					<option value="기억에 남는 추억의 장소는?" >기억에 남는 추억의 장소는?</option>
					<option value="가장 좋아하는 동물은?" >가장 좋아하는 동물은?</option>
					<option value="초등학교떄 다녔던 학교는?" >초등학교떄 다녔던 학교는?</option>
					<option value="가장 아끼는 물건은?" >가장 아끼는 물건은?</option>
					<option value="나의 보물 제 1호는?" >나의 보물 제 1호는?</option>
				</select><br/>
				<input type="text" th:field="*{pwanswer}" />
			</td>
		</tr>
		<tr>
			<td colspan="2" align=center>애견정보</td>
		</tr>
		<tr>
			<td>강아지 이름</td>
			<td><input type="text" name="dname" /></td>
		</tr>
		<tr>
			<td>무게</td>
			<td><input type="text" name="weight" />kg</td>
		</tr>
		<tr>
			<td>사이즈</td>
			<td>
				<label><input type="radio" name="dogsize" value="소형견" />소형견</label>
				<label><input type="radio" name="dogsize" value="중형견" />중형견</label>
				<label><input type="radio" name="dogsize" value="대형견" />대형견</label>
			</td>
		</tr>
		<tr>
			<td>성별</td>
			<td>
				<label><input type="radio" name="gender" value="암컷" />암컷</label>
				<label><input type="radio" name="gender" value="수컷" />수컷</label>
			</td>
		</tr>
		<tr>
			<td>견종</td>
			<td><input type="text" name="breed" /></td>
		</tr>
		<tr>
			<td>태어난 날짜</td>
			<td>
				<select name="dyear">
					<option th:each="num: ${#numbers.sequence(2000,#dates.year(#dates.createNow()))}" th:value="${num}" th:text="${num}" ></option>
				</select>
				<select name="dmonth">
					<option th:each="num: ${#numbers.sequence(1,12)}" th:value="${num}" th:text="${num}" ></option>
				</select>
			</td>
		</tr>
		<tr>
			<td>사진</td>
			<td><input type="file" name="dogimg"/></td>
		</tr>
		<tr>
			<td>특이사항</td>
			<td><textarea name="notes"></textarea></td>
		</tr>
		<tr>
			<td>중성화 여부</td>
			<td>
				<label><input type="checkbox" name="chk" required/>중성화한 강아지 입니다.</label>
				<br/> <font size="2">*쿠키마루는 중성화한 강아지만 등록할 수 있습니다.</font>
			</td>
		</tr>
		<tr>
			<td colspan="2" align=center>
				<input type="submit" value="가입하기" />
				<a th:href="|/user/log/login|" th:text="뒤로"/>
			</td>
		</tr>
	</table>
</form>
</th:block>

<th:block layout:fragment="add-content">
</th:block>
</html>