<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultroq.net.nz/thymeleaf/layout"
layout:decorate="total/userTemp">
<th:block layout:fragment="title">
<title>rePw</title>
</th:block>

<th:block layout:fragment="content">
<script type="text/javascript" src="/qqq/jquery_3_6_3.js"></script>
<script th:inline="javascript">

//비밀번호 유효성
function validPw(pw = $("#pw").val().trim()) {
	
	var regex = /^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[~!@#$%^-_]).{8,16}$/;
	var isValid = regex.test(pw);

	if (isValid) {
		document.getElementById('pw').style.backgroundColor = 'rgba(0, 255, 100, 0.3)';
	} else {
		document.getElementById('pw').style.backgroundColor = 'rgba(255, 0, 0, 0.3)';
	}
	return isValid;
}

//비밀번호 확인	
function checkPw(pw2 = $("#pw2").val().trim()) {
	var isValid = false;

	if ($("#pw").val().trim() == pw2) {
		document.getElementById('pw2').style.backgroundColor = 'rgba(0, 255, 100, 0.3)';
		isValid = true;
	} else {
		document.getElementById('pw2').style.backgroundColor = 'rgba(255, 0, 0, 0.3)';
	}
	return isValid;
}

function frmChk() {
	
	if(!validPw()){//2
		alert("비밀번호 양식을 맞춰주세요.");
		return false;
	}
	
	if(!checkPw()){//3
		alert("비밀번호 확인 값이 일치하지 않습니다.");
		return false;
	}
	
	return true;
}
</script>
<div class="myPageMenu">
<a href="/user/myPage/dogJoinForm">애견등록</a>
<a href="/user/myPage/dogList">내애견리스트</a>
<a href="/user/myPage/gsMyList">내 이용권</a>
</div>
<h1>비밀번호 재설정</h1>
<form method="post" action="/user/log/rePw" th:object="${hmMemberDTO}" onsubmit="return frmChk()">
	<table border="">
	<input type="hidden" th:field="*{pid}"/>
		<tr>
			<td>새 비밀번호</td>
			<td><input type="password" id="pw" name="pw" oninput="validPw(this.value)"/></td>
		</tr>
		<tr>
			<td>비밀번호 확인</td>
			<td><input type="password" id="pw2" name="pw2" oninput="checkPw(this.value)"/></td>
		</tr>
		<tr>
			<td colspan="3" align="center"> 
				<input type="submit" value="입력" />
				<a th:href="|/user/log/findPw|" th:text="뒤로"/>
			</td>
		</tr>
	</table>
</form>
</th:block>

<th:block layout:fragment="add-content">
</th:block>
</html>