html{
		font-family: 'Noto Sans KR', sans-serif;
}	 
    .hme_msg{
	color: #f00;
}

/*회원가입폼*/
.hmJoinForm table {
	width: 70%;
	background: #fff;
	margin: auto;
}

.hmJoinForm td {
	border-bottom: 1px solid #324182;
	padding: 10px;
	padding-left: 100px;
}

.hmJoinForm .tt {
	width: 150px;
	text-align: center;
	font-weight: bold;
	padding: 0px;
}

.hmJoinForm .hmtitlekind {
	padding: 5px;
	background: #ffc107;
	border: 1px solid #324182;
	border-radius: 5px;
	font-weight: bold;
	padding: 10px;
}

.hmJoinForm .hmtitletr {
	margin-top: 50px;
}

.hmJoinForm label {
	margin-right: 20px;
	font-size: 0.9rem;
	font-weight: bold;
}

.hmJoinForm label:hover {
	color: #ffc107;
}

.hmJoinForm input {
	margin-right: 5px;
}

.hmJoinForm input[type="text"],
.hmJoinForm input[type="password"] {
	margin-right: 5px;
	width: 200px;
	height: 20px;
	font-size: 15px;
	border: 0;
	border-radius: 15px;
	outline: none;
	padding-left: 10px;
	background-color: rgb(233, 233, 233);
	border: 2px solid rgb(233, 233, 233);
}

.hmJoinForm textarea {
	resize: none;
	margin-right: 5px;
	width: 400px;
	height: 100px;
	font-size: 15px;
	border: 0;
	border-radius: 15px;
	outline: none;
	padding-left: 10px;
	background-color: rgb(233, 233, 233);
	border: 2px solid rgb(233, 233, 233);
}

.hmJoinForm textarea:focus,
.hmJoinForm .hm_inputcolor:focus {
	border: 2px solid #ffc107;
	background: #FFF5B8;
	outline: none;
}

.hmJoinForm input[name="tel1"],
.hmJoinForm input[name="tel2"],
.hmJoinForm input[name="tel3"] {
	width: 100px;
}

.hmJoinForm select[name="pwquestion"] {
	margin-bottom: 10px;
}

.hmJoinForm .hm_selectBox {
	position: relative;
	width: 210px;
	height: 35px;
}

.hmJoinForm .hm_selectBox2 {
	position: relative;
	width: 100px;
	height: 30px;
}

.hmJoinForm .hm_selectBox3 {
	position: relative;
	width: 80px;
	height: 30px;
}

.hmJoinForm .hm_select {
	width: inherit;
	height: inherit;
	background: transparent;
	border: 2px solid #324182;
	border-radius: 4px;
	outline: none;
	padding: 0 5px;
	position: relative;
}

.hmJoinForm .hm_select option {
	background: #324182;
	color: #fff;
	padding: 10px 0;
}

.hmJoinForm .kind {
	border-radius: 5px;
	width: 80px;
	text-align: center;
	color: #865DFF;
	border: 1px solid #ccc;
}

.hmJoinForm input[type="submit"],
.hmJoinForm a {
	padding: 8px 10px;
  font-size: 16px;
  background-color: #324182;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.hmJoinForm a {
	padding: 6.5px 10px;
}

.hmJoinForm input[type="submit"]:hover,
.hmJoinForm a:hover {
	 color: #FFC107;
  transition: color 0.3s ease;
}

.hmJoinForm tt > a {
	text-decoration: none;
	font-size: 0.8rem;
}

.hmJoinForm input[type="button"] {
	padding: 8px 12px;
  font-size: 16px;
  background-color: #324182;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.hmJoinForm input[type="button"]:hover {
	 color: #FFC107;
  transition: color 0.3s ease;
}

.hmJoinForm .hm_selectBox,  .hmJoinForm .hmno{
	 border-bottom: none;
}

/*회원정보수정*/
.hmmodify table {
	width: 70%;
	background: #fff;
	margin: auto;
}

.hmmodify td {
	border-bottom: 1px solid #324182;
	padding: 10px;
	padding-left: 100px;
}

.hmmodify .tt {
	width: 150px;
	text-align: center;
	font-weight: bold;
	padding: 0px;
}

.hmmodify .hmtitlekind {
	padding: 5px;
	background: #ffc107;
	border: 1px solid #324182;
	border-radius: 5px;
	font-weight: bold;
	padding: 10px;
}

.hmmodify input[type="submit"],
.hmmodify a,
.hmmodify input[type="reset"] {
	padding: 8px 10px;
  font-size: 16px;
  background-color: #324182;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.hmmodify input[type="submit"]:hover,
.hmmodify a:hover,
.hmmodify input[type="reset"]:hover {
	  color: #FFC107;
  transition: color 0.3s ease;
}

.hmmodify input[type="button"] {
	padding: 8px 10px;
  font-size: 16px;
  background-color: #324182;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.hmmodify input[type="button"]:hover {
	  color: #FFC107;
  transition: color 0.3s ease;
}

.hmJoinhmmodifyForm input {
	margin-right: 5px;
}

.hmmodify input[type="text"],
.hmmodify input[type="password"] {
	margin-right: 5px;
	width: 200px;
	height: 20px;
	font-size: 15px;
	border: 0;
	border-radius: 15px;
	outline: none;
	padding-left: 10px;
	background-color: rgb(233, 233, 233);
	border: 2px solid rgb(233, 233, 233);
}

 .hmmodify a {
	padding: 6.5px 10px;
}
 /*강아지정보수정*/
 .hmdogModi table {
	width: 70%;
	background: #fff;
	margin: auto;
}

.hmdogModi td {
	border-bottom: 1px solid #324182;
	padding: 10px;
	padding-left: 100px;
}

.hmdogModi .tt {
	width: 150px;
	text-align: center;
	font-weight: bold;
	padding: 0px;
}

.hmdogModi .hmtitlekind {
	padding: 5px;
	background: #ffc107;
	border: 1px solid #324182;
	border-radius: 5px;
	font-weight: bold;
	padding: 10px;
}

.hmdogModi input {
	margin-right: 5px;
}

.hmdogModi input[type="text"],
.hmdogModi input[type="password"] {
	margin-right: 5px;
	width: 200px;
	height: 20px;
	font-size: 15px;
	border: 0;
	border-radius: 15px;
	outline: none;
	padding-left: 10px;
	background-color: rgb(233, 233, 233);
	border: 2px solid rgb(233, 233, 233);
}

.hmdogModi textarea {
	resize: none;
	margin-right: 5px;
	width: 400px;
	height: 100px;
	font-size: 15px;
	border: 0;
	border-radius: 15px;
	outline: none;
	padding-left: 10px;
	background-color: rgb(233, 233, 233);
	border: 2px solid rgb(233, 233, 233);
}

.hmdogModi textarea:focus,
.hmdogModi .hm_inputcolor:focus {
	border: 2px solid #ffc107;
	background: #FFF5B8;
	outline: none;
}

.hmdogModi input[type="submit"],
.hmdogModi a,
.hmdogModi input[type="reset"] {
	padding: 8px 10px;
  font-size: 16px;
  background-color: #324182;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.hmdogModi input[type="submit"]:hover,
.hmdogModi a:hover,
.hmdogModi input[type="reset"]:hover {
	  color: #FFC107;
  transition: color 0.3s ease;
}

.hmdogModi a {
	padding: 6.5px 10px;
}
/*강아지등록*/
.hmdogJoin table {
	width: 70%;
	background: #fff;
	margin: auto;
}

.hmdogJoin td {
	border-bottom: 1px solid #324182;
	padding: 10px;
	padding-left: 100px;
}

.hmdogJoin .tt {
	width: 150px;
	text-align: center;
	font-weight: bold;
	padding: 0px;
}

.hmdogJoin .hmtitlekind {
	padding: 5px;
	background: #ffc107;
	border: 1px solid #324182;
	border-radius: 5px;
	font-weight: bold;
	padding: 10px;
}

.hmdogJoin label {
	margin-right: 20px;
	font-size: 0.9rem;
	font-weight: bold;
}

.hmdogJoin label:hover {
	color: #FFC107;
}

.hmdogJoin input {
	margin-right: 5px;
}

.hmdogJoin input[type="text"] {
	margin-right: 5px;
	width: 200px;
	height: 20px;
	font-size: 15px;
	border: 0;
	border-radius: 15px;
	outline: none;
	padding-left: 10px;
	background-color: rgb(233, 233, 233);
	border: 2px solid rgb(233, 233, 233);
}

.hmdogJoin textarea {
	resize: none;
	margin-right: 5px;
	width: 400px;
	height: 100px;
	font-size: 15px;
	border: 0;
	border-radius: 15px;
	outline: none;
	padding-left: 10px;
	background-color: rgb(233, 233, 233);
	border: 2px solid rgb(233, 233, 233);
}

.hmdogJoin textarea:focus,
.hmdogJoin .hm_inputcolor:focus {
	border: 2px solid #ffc107;
	background: #FFF5B8;
	outline: none;
}

.hmdogJoin .hm_selectBox3 {
	position: relative;
	width: 80px;
	height: 30px;
}

.hmdogJoin .hm_select {
	width: inherit;
	height: inherit;
	background: transparent;
	border: 2px solid #324182;
	border-radius: 4px;
	outline: none;
	padding: 0 5px;
	position: relative;
}

.hmdogJoin .hm_select option {
	background: #324182;
	color: #fff;
	padding: 10px 0;
}

.hmdogJoin input[type="submit"],
.hmdogJoin a {
	padding: 8px 10px;
  font-size: 16px;
  background-color: #324182;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.hmdogJoin input[type="submit"]:hover,
.hmdogJoin a:hover {
	  color: #FFC107;
  transition: color 0.3s ease;
}

.hmdogJoin tt> a {
	text-decoration: none;
	font-size: 0.8rem;
}

.hmdogJoin a {
	padding: 6.5px 10px;
}	

/*마이페이지*/
.hmmemPage table {
	width: 70%;
	background: #fff;
	margin: auto;
}

.hmmemPage td {
	border-bottom: 1px solid #324182;
	padding: 10px;
	padding-left: 100px;
}

.hmmemPage .tt {
	width: 150px;
	text-align: center;
	font-weight: bold;
	padding: 0px;
}

.hmmemPage .hmtitlekind {
	padding: 5px;
	background: #ffc107;
	border: 1px solid #324182;
	border-radius: 5px;
	font-weight: bold;
	padding: 10px;
}

.hmmemPage input[type="submit"],
.hmmemPage a {
	padding: 8px 10px;
  font-size: 16px;
  background-color: #324182;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.hmmemPage input[type="submit"]:hover,
.hmmemPage a:hover {
	 color: #FFC107;
  transition: color 0.3s ease;
}

/*강아지리스트*/
.hmdogList table {
	width: 50%;
	background: #fff;
	margin: auto;
}

.hmdogList td {
	border-bottom: 1px solid #324182;
	padding: 10px;
	text-align: center;
}

.hmdogList tr:last-of-type td:last-of-type {
	text-align: right;
}

.hmdogList .tt {
	width: 150px;
	text-align: center;
	font-weight: bold;
	padding: 0px;
	height: 30px;
	border: none;
	border-bottom: 2px solid #324182;
}

.hmdogList .hmtitlekind {
	padding: 5px;
	background: #ffc107;
	border: 1px solid #324182;
	border-radius: 5px;
	font-weight: bold;
	padding: 10px;
}

.hmdogList .hmtagCss a {
	padding: 8px 10px;
  font-size: 16px;
  background-color: #324182;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.hmdogList .hmtagCss a:hover {
	 color: #FFC107;
  transition: color 0.3s ease;
}

.hmdogList a {
	text-decoration: none;
}

.hmdogList .linknocolor > a:hover {
	color: #ffc107;
}

/*강아지디테일*/
.hmdogDetail table {
	width: 70%;
	background: #fff;
	margin: auto;
}

.hmdogDetail td {
	border-bottom: 1px solid #324182;
	padding: 10px;
	padding-left: 100px;
}

.hmdogDetail .tt {
	width: 150px;
	text-align: center;
	font-weight: bold;
	padding: 0px;
}

.hmdogDetail .t1 {
	border: none;
}

.hmdogDetail .hmtitlekind {
	padding: 5px;
	background: #ffc107;
	border: 1px solid #324182;
	border-radius: 5px;
	font-weight: bold;
	padding: 10px;
}

.hmdogDetail .hmimg {
	border: 1px solid #324182;
	border-radius: 5px;
	padding: 10px 0;
	padding-top: 15px;
}

.hmdogDetail a,
.hmdogDetail button {
	padding: 8px 10px;
  font-size: 16px;
  background-color: #324182;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.hmdogDetail a:hover,
.hmdogDetail button:hover {
	 color: #FFC107;
  transition: color 0.3s ease;
}

.hmdogDetail a {
	padding: 6.5px 10px;
}	


/*질문리스트*/
.hmqueList table {
  width: 80%;
  margin: auto;
  border-radius: 5px;
  position: relative;
}

.hmqueList td {
  border-bottom: 1px solid #324182;
  padding: 10px;
}

.hmqueList .quetitle td {
  text-align: center;
  font-weight: bold;
}

.hmqueList .quetitle td:first-of-type {
  width: 70px;
}

.hmqueList .quetitle td:nth-of-type(2) {
  width: 250px;
}

.hmqueList .quetitle td:nth-of-type(3) {
  width: 150px;
}

.hmqueList .quetitle td:last-of-type {
  width: 150px;
}

.hmqueList .quelist td {
  text-align: center;
}

.hmqueList .hman {
  color: dodgerblue;
}

.hmqueList .hmnoan {
  color: tomato;
}

.hmqueList a {
  text-decoration: none;
}

.hmqueList .schselect a {
  padding: 8px 10px;
  font-size: 16px;
  background-color: #324182;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.hmqueList .hmlink a,
.hmqueList input[type="submit"] {
  padding: 8px 10px;
  font-size: 16px;
  background-color: #324182;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.hmqueList .hmpagelink a,
.hmqueList .hmpage {
  padding: 8px 10px;
  font-size: 16px;
  background-color: #324182;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.hmqueList .hmnowpage {
  padding: 8px 10px;
  font-size: 16px;
  background-color: #324182;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  height: 40px;
  color: #FFC107;
}

.hmqueList .schselect a:hover, .hmqueList .hmpage:hover {
   color: #FFC107;
  transition: color 0.3s ease;
}

.hmqueList .hmlink a:hover,
.hmqueList input[type="submit"]:hover {
    color: #FFC107;
  transition: color 0.3s ease;
}

.hmqueList .hmtitlekind {
  padding: 5px;
  background: #FFC107;
  border: 1px solid #324182;
  font-weight: bold;
  padding: 10px;
}


.hmqueList input[type="text"] {
  margin-right: 5px;
  width: 200px;
  height: 20px;
  font-size: 15px;
  border: 0;
  border-radius: 15px;
  outline: none;
  padding-left: 10px;
  background-color: rgb(233, 233, 233);
  border: 2px solid #324182;
}

.linknocolor > a{
	color:#000;
}

.hmqueList input[type="text"]:focus {
  border: 2px solid #FFC107;
}

.hmqueList .linknocolor > a:hover {
	color: #ffc107;
}

 /*질문디테일*/
 .hmqueDetail table {
  width: 70%;
  margin: auto;
  border-radius: 5px;
  position: relative;
}

.hmqueDetail td {
  border-bottom: 1px solid #324182;
  padding: 10px;
}

.hmqueDetail .hmtitlekind {
  padding: 5px;
  background: #FFC107;
  border: 1px solid #324182;
  font-weight: bold;
  padding: 10px;
  text-align: center;
}

.hmqueDetail .hmcontent{
	border-bottom: none;
}

.hmqueDetail .hmcontent div {
  border: 2px solid #FFC107;
  border-radius: 10px;
  padding: 10px;
  width: 700px;
  height: 300px;
  overflow: auto;
  margin: 5px auto;
}

.hmqueDetail .hmAnswer div {
  border: 2px solid #324182;
  border-radius: 10px;
  padding: 10px;
  width: 700px;
  height: 200px;
  overflow: auto;
  margin: 5px auto;
}

.hmqueDetail a,
.hmqueDetail button {
  padding: 8px 10px;
  font-size: 16px;
  background-color: #324182;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.hmqueDetail a:hover,
.hmqueDetail button:hover {
   color: #FFC107;
  transition: color 0.3s ease;
}

.hmqueDetail .hmAnswertitle {
  background: #FFC107;
  border: 1px solid #FFC107;
  font-weight: bold;
  padding: 10px;
  text-align: center;
  width: 500px;
}

.hmqueDetail .hmAnsweradmin {
  background: #FFC107;
  border: 1px solid #FFC107;
  padding: 10px;
  text-align: center;
}

.hmqueDetail a {
	padding: 6.5px 10px;
}

 /*문의수정*/
 	.hmqueModify table {
  width: 70%;
  margin: auto;
  border-radius: 5px;
  position: relative;
}

.hmqueModify td {
  border-bottom: 1px solid #324182 ;
  padding: 10px;
}

.hmqueModify .hmtitlekind {
  padding: 5px;
  background: #FFC107;
  border: 1px solid #324182 ;
  border-radius: 5px;
  font-weight: bold;
  padding: 10px;
  text-align: center;
}

.hmqueModify a,
.hmqueModify input[type="submit"] {
  padding: 8px 10px;
  font-size: 16px;
  background-color: #324182;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.hmqueModify a:hover,
.hmqueModify input[type="submit"]:hover {
    color: #FFC107;
  transition: color 0.3s ease;
}

.hmqueModify input {
  margin-right: 5px;
}

.hmqueModify input[type="text"] {
  margin-right: 5px;
  width: 250px;
  height: 20px;
  font-size: 15px;
  border: 0;
  border-radius: 15px;
  outline: none;
  padding-left: 10px;
  background-color: rgb(233, 233, 233);
  border: 2px solid rgb(233, 233, 233);
}

.hmqueModify textarea {
  resize: none;
  margin-right: 5px;
  width: 600px;
  height: 300px;
  font-size: 15px;
  border: 0;
  border-radius: 15px;
  outline: none;
  padding: 10px;
  background-color: rgb(233, 233, 233);
  border: 2px solid rgb(233, 233, 233);
}

.hmqueModify textarea:focus,
.hmqueModify input[type="text"]:focus {
  border: 2px solid #FFC107;
  background: #FFF5B8;
  outline: none;
}

.hmqueModify a {
	padding: 6.5px 10px;
}

/*문의작성*/
	.hmqueInsert table {
  width: 70%;
  margin: auto;
  border-radius: 5px;
  position: relative;
}

.hmqueInsert td {
  border-bottom: 1px solid #324182;
  padding: 10px;
}

.hmqueInsert .hmtitlekind {
  padding: 5px;
  background: #FFC107;
  border: 1px solid #324182;
  border-radius: 5px;
  font-weight: bold;
  padding: 10px;
  text-align: center;
}

.hmqueInsert a,
.hmqueInsert input[type="submit"] {
  padding: 8px 10px;
  font-size: 16px;
  background-color: #324182;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.hmqueInsert a:hover,
.hmqueInsert input[type="submit"]:hover {
  color: #FFC107;
  transition: color 0.3s ease;
}

.hmqueInsert input {
  margin-right: 5px;
}

.hmqueInsert input[type="text"] {
  margin-right: 5px;
  width: 250px;
  height: 20px;
  font-size: 15px;
  border: 0;
  border-radius: 15px;
  outline: none;
  padding-left: 10px;
  background-color: rgb(233, 233, 233);
  border: 2px solid rgb(233, 233, 233);
}

.hmqueInsert textarea {
  resize: none;
  margin-right: 5px;
  width: 600px;
  height: 300px;
  font-size: 15px;
  border: 0;
  border-radius: 15px;
  outline: none;
  padding: 10px;
  background-color: rgb(233, 233, 233);
  border: 2px solid rgb(233, 233, 233);
}

.hmqueInsert textarea:focus,
.hmqueInsert input[type="text"]:focus {
  border: 2px solid #FFC107;
  background: #FFF5B8;
  outline: none;
}

.hmqueInsert a {
	padding: 6.5px 10px;
}

/*비밀번호 변경*/
	.hmpwchange table {
	width: 60%;
	background: #fff;
	margin: auto;
}

.hmpwchange td {
	border-bottom: 1px solid #324182;
	padding: 10px;
	padding-left: 70px;
}

.hmpwchange .tt {
	width: 150px;
	font-weight: bold;
}

.hmpwchange .hmtitlekind {
	padding: 5px;
	background: #ffc107;
	border: 1px solid #324182;
	border-radius: 5px;
	font-weight: bold;
	padding: 10px;
}

.hmpwchange input[type="submit"],
.hmpwchange a {
	padding: 8px 10px;
  font-size: 16px;
  background-color: #324182;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.hmpwchange input[type="submit"]:hover,
.hmpwchange a:hover {
	 color: #FFC107;
  transition: color 0.3s ease;
}

.hmpwchange input[type="password"] {
	margin-right: 5px;
	width: 200px;
	height: 20px;
	font-size: 15px;
	border: 0;
	border-radius: 15px;
	outline: none;
	padding-left: 10px;
	background-color: rgb(233, 233, 233);
	border: 2px solid rgb(233, 233, 233);
}
.hmpwchange a {
	padding: 6.5px 10px;
}
 /*탈퇴*/
 	.hmDelete table {
	width: 50%;
	background: #fff;
	margin: auto;
}

.hmDelete td {
	border-bottom: 1px solid #324182;
	padding: 10px;
}

.hmDelete .tt {
	width: 200px;
	font-weight: bold;
}

.hmDelete .hmtitlekind {
	padding: 5px;
	background: #ffc107;
	border: 1px solid #324182;
	border-radius: 5px;
	font-weight: bold;
	padding: 10px;
}

.hmDelete input[type="submit"],
.hmDelete a {
	padding: 8px 10px;
  font-size: 16px;
  background-color: #324182;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.hmDelete input[type="submit"]:hover,
.hmDelete a:hover {
	 color: #FFC107;
  transition: color 0.3s ease;
}

.hmDelete input[type="password"] {
	margin-right: 5px;
	width: 200px;
	height: 20px;
	font-size: 15px;
	border: 0;
	border-radius: 15px;
	outline: none;
	padding-left: 10px;
	background-color: rgb(233, 233, 233);
	border: 2px solid rgb(233, 233, 233);
}

 /*로그인*/
 	.hm_loginWrapper {
	width: 450px;
	height: 260px;
	border: 2px solid #324182;
	margin: 0 auto;
	position: relative;
}

.hm_loginWrapper .hmLogo {
	width: 450px;
	height: 70px;
	background: #ffc107;
	text-align: center;
	font-size: 3rem;
}

.hm_loginWrapper input[type="text"],
.hm_loginWrapper input[type="password"] {
	margin-right: 5px;
	width: 200px;
	height: 20px;
	font-size: 15px;
	outline: none;
	padding-left: 10px;
	background-color: rgb(233, 233, 233);
	border: 2px solid #324182 ;
	padding: 5px;
	border-radius: 4px;
}

.hm_loginWrapper input[type="text"]:focus,
.hm_loginWrapper input[type="password"]:focus {
	border: 2px solid #ffc107 ;
}

.hm_loginWrapper .hmloginid {
	margin: 10px;
	margin-top: 20px;
}

.hm_loginWrapper .hmloginpw {
	margin: 10px;
}

.hm_loginWrapper .hmLoginLink {
	margin-top: 20px;
}

.hm_loginWrapper .hmloginid img {
	width: 20px;
	position: absolute;
	left: 85px;
	top: 95px;
}

.hm_loginWrapper .hmloginpw img {
	width: 30px;
	position: absolute;
	left: 80px;
	top: 137px;
}

.hm_loginWrapper > img {
	width: 100px;
	position: absolute;
	left: 350px;
	top: -60px;
}

.hm_loginWrapper #hmloginlogo {
	width: 50px;
	position: absolute;
	left: 35px;
	top: 5px;
}

.hm_loginWrapper input[type="submit"]{
	padding: 8px 10px;
  font-size: 16px;
  background-color: #324182;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 215px;
  margin-left: -5px;
}

.hm_loginWrapper input[type="submit"]:hover{
	 color: #FFC107;
  transition: color 0.3s ease;
}

.hm_loginWrapper a{
	padding: 8px 10px;
  font-size: 16px;
  color: 324182;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 215px;
  margin-left: -5px;
}

.hm_loginWrapper a:hover{
	 color: #FFC107;
  transition: color 0.3s ease;
}

/*아이디찾기*/
	.hmfindid table {
	width: 50%;
	background: #fff;
	margin: auto;
	}
	
	.hmfindid td {
		border-bottom: 1px solid #324182;
		padding: 10px;
		text-align:center;
	}
	
	.hmfindid .tt {
		width: 180px;
		font-weight: bold;
	}
	
	.hmfindid .hmtitlekind {
		padding: 5px;
		background: #ffc107;
		border: 1px solid #324182;
		border-radius: 5px;
		font-weight: bold;
		padding: 10px;
	}
	.hmfindid a,
	.hmfindid input[type="submit"] {
	  padding: 8px 10px;
	  font-size: 16px;
	  background-color: #324182;
	  color: white;
	  border: none;
	  border-radius: 4px;
	  cursor: pointer;
	  transition: background-color 0.3s ease;
	}
	
	.hmfindid a:hover,
	.hmfindid input[type="submit"]:hover {
	    color: #FFC107;
	  transition: color 0.3s ease;
	}
	.hmfindid input[type="text"]{
		margin-right: 5px;
		width: 200px;
		height: 20px;
		font-size: 15px;
		border: 0;
		border-radius: 15px;
		outline: none;
		padding-left: 10px;
		background-color: rgb(233, 233, 233);
		border: 2px solid rgb(233, 233, 233);
	}
	.hmfindid input[type="text"]:focus {
	  border: 2px solid #FFC107;
	  background: #FFF5B8;
	  outline: none;
	}
	
	.hmfindid a {
		padding: 6.5px 10px;
	}
/*비번찾기*/
	.hmfindpw table {
	width: 50%;
	background: #fff;
	margin: auto;
	}
	
	.hmfindpw td {
		border-bottom: 1px solid #324182;
		padding: 10px;
		text-align:center;
	}
	
	.hmfindpw .tt {
		width: 180px;
		font-weight: bold;
	}
	
	.hmfindpw .hmtitlekind {
		padding: 5px;
		background: #ffc107;
		border: 1px solid #324182;
		border-radius: 5px;
		font-weight: bold;
		padding: 10px;
	}
	.hmfindpw a,
	.hmfindpw input[type="submit"] {
	  padding: 8px 10px;
	  font-size: 16px;
	  background-color: #324182;
	  color: white;
	  border: none;
	  border-radius: 4px;
	  cursor: pointer;
	  transition: background-color 0.3s ease;
	}
	
	.hmfindpw a:hover,
	.hmfindpw input[type="submit"]:hover {
	    color: #FFC107;
	  transition: color 0.3s ease;
	}
	.hmfindpw input[type="text"]{
		margin-right: 5px;
		width: 200px;
		height: 20px;
		font-size: 15px;
		border: 0;
		border-radius: 15px;
		outline: none;
		padding-left: 10px;
		background-color: rgb(233, 233, 233);
		border: 2px solid rgb(233, 233, 233);
	}
	.hmfindpw .hm_selectBox {
	position: relative;
	width: 210px;
	height: 35px;
	}
	
	.hmfindpw .hm_select {
		width: inherit;
		height: inherit;
		background: transparent;
		border: 2px solid #324182;
		border-radius: 4px;
		outline: none;
		padding: 0 5px;
		position: relative;
		margin-bottom: 10px;
	}
	
	.hmfindpw .hm_select option {
		background: #324182;
		color: #fff;
		padding: 10px 0;
	}
	
	.hmfindpw input[type="text"]:focus {
	  border: 2px solid #FFC107;
	  background: #FFF5B8;
	  outline: none;
	}
	.hmfindpw a {
		padding: 6.5px 10px;
	}
/*비번재설정*/
	.hmrepw table {
	width: 50%;
	background: #fff;
	margin: auto;
	}
	
	.hmrepw td {
		border-bottom: 1px solid #324182;
		padding: 10px;
	}
	
	.hmrepw .tt {
		width: 180px;
		font-weight: bold;
		text-align:center;
	}
	
	.hmrepw .hmtitlekind {
		padding: 5px;
		background: #ffc107;
		border: 1px solid #324182;
		border-radius: 5px;
		font-weight: bold;
		padding: 10px;
	}
	.hmrepw a,
	.hmrepw input[type="submit"] {
	  padding: 8px 10px;
	  font-size: 16px;
	  background-color: #324182;
	  color: white;
	  border: none;
	  border-radius: 4px;
	  cursor: pointer;
	  transition: background-color 0.3s ease;
	}
	
	.hmrepw a:hover,
	.hmrepw input[type="submit"]:hover {
	    color: #FFC107;
	  transition: color 0.3s ease;
	}
	.hmrepw input[type="password"]{
		margin-right: 5px;
		width: 200px;
		height: 20px;
		font-size: 15px;
		border: 0;
		border-radius: 15px;
		outline: none;
		padding-left: 10px;
		background-color: rgb(233, 233, 233);
		border: 2px solid rgb(233, 233, 233);
	}
	.hmrepw a {
		padding: 6.5px 10px;
	}

/*메인페이지*/

.hm_maindiv{
	width:1200px;
	height: 500px;
	background: #324182;
}

.hm_shape1{
	width: 300px;
	height: 300px;
	background: #f00;
	border: 10px solid #fff;
	border-radius: 300px;
	overflow: hidden;
}
.hm_shape1 > img{
	width: 300px;
}
.hm_shape2{
	width: 300px;
	height: 300px;
	background: #324182;
	border: 10px solid #fff;
	border-radius: 500px;
	overflow: hidden;
}
.hm_shape2 > img{
	width: 340px;
}
.hm_shape3{
	width: 300px;
	height: 300px;
	background: #f00;
	border: 10px solid #fff;
	border-radius: 500px;
	overflow: hidden;
}
.hm_shape3 > img{
	width: 310px;
}
.hm_shape4{
	width: 300px;
	height: 300px;
	background: #f00;
	border: 10px solid #fff;
	border-radius: 500px;
	overflow: hidden;
}
.hm_shape4 > img{
	width: 380px;
}
.hm_shape5{
	width: 300px;
	height: 300px;
	background: #f00;
	border: 10px solid #fff;
	border-radius: 500px;
	overflow: hidden;
}
.hm_shape5 > img{
	width: 300px;
}

/*시설*/
.hm_build{
	width: 800px;
	height: 350px;
	border: 10px solid #ffc107;
	padding: 50px;
	background: #324182;
	margin: 0 auto;
	padding-top: 70px;
	margin-top: 10px;
	border-radius: 10px;
	padding-left: 130px;
}
.hm_button{
	width: 27px;
	height: 27px;
	background: #FF7F00;
	border-radius: 50px;
	text-align: center;
	border: 3px solid #fff;
	float: left;
	line-height: 26px;
	margin-right: 10px;
}
.hm_blist{
	font-size: 1.2rem;
	float: left;
	width: 260px;
	color: #fff;
	margin: 20px 0;
}
.buildImg{
	margin-left: 90px;
	margin-top: 20px;
}
.build_logo{
	position: absolute;
	background:#fff;
	width: 227px;
	height:220px;
	border-radius: 200px;
	left: 900px;
	top: 720px;
}
.build_logoImg{
	width: 200px;
	position: absolute;
	left: 910px;
	top: 720px;
}
.build_con{
	margin: 0 auto;
	text-align:center;
}
.build_con h2, .build_con h3{
	color: #324182;
}
h1:first-of-type{
	margin: 10px 0px 50px 50px;
}

.aram{
	left: 50%;
	font-size: 1.2rem;
	color: #000;
	position: absolute;
	margin-left: -277.5px;
    margin-top: 500px;
    border-radius: 10px;
}

.aram > h2{
	margin: 20px 0px 25px 30px;
}

.gsHome{
	position: relative;
}

.main_info{
	width:500px;
	height:200px;
	left: 50%;
	font-size: 1.2rem;
	color: #000;
	position: absolute;
	margin-left: -250px;
    margin-top: 500px;
    border-radius: 10px;
    text-align: center;
}
.main_info > h2{
	margin-bottom: 10px;
	color:#324182;
}