	.shresermenu{
		border: 1px solid#000;
	}
	.shsales{
		margin: auto;
		border: 1px solid #000;
		overflow: auto;
		width: 845px;
		height: 500px;
	}
	.shsales2{
		height: 25px;
	}
	.shsales2 > div{
		/* border: 1px solid#000; */
		float:left;
		text-align: center;
		margin: 1px;
	}