<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="total/adTemp">

<th:block layout:fragment="adTitle">
	<title>관리자 페이지</title>
</th:block>

<th:block layout:fragment="adContent">
	
	<div class="bhMidMenu">
		<div><a href="/admin">오늘의 등원</a></div>
		<div><a href="/admin/attList">출석부</a></div>
	</div>

	<div class="bhAttend">
		<h3 th:text="${reser.todayStr()}" th:if="${reser.schDate==null}"/>
		<h3 th:text="${reser.schDate()}" th:if="${reser.schDate!=null}"/>
		<h2 th:text="출석부"/>
		
		<form method="post" th:object="${bhAttendReserDTO}">
	        <input type="date" data-placeholder="날짜 선택" th:field="*{schDate}" class="bhDate" required/>
	        <input type="submit" value="검색" class="bhBigButton"/>
		</form>
	</div>
	
	<div class="bhAttendBig">
		<div class="bhAttendS">
			<div><h2>대형견반 
				<span th:text="${realAttBig}"/>/<span th:text="${totAttBig}">
			</h3></div>
			
			<div>
				<table width="100%" class="bhAttTable" align="center">
					<thead>
					<tr>
						<td>번호</td>
						<td>이름</td>
						<td>메모</td>
						<td>교육</td>
						<td>구분</td>
						<td>등원</td>
						<td>하원</td>
						<td>패널티</td>
					</tr>
					</thead>
					
					<tbody>
					<tr th:each="dto, dtoStat: ${bigDog}">
						<td th:text="${dtoStat.index+1}" />
						<td><a th:href="@{|/admin/dogInform/${dto.dname}/${dto.pid}|}" th:text="${dto.dname}" class="bhTA"/></td>
						<td><a th:href="@{|/admin/attendMemo/${dto.todayNo}|}" th:text="확인" class="bhTA"/></td>
						<td th:text="${dto.edu}"/>
						<td th:text="${dto.kind}"/>
						<td th:text="${dto.attendTime()}"/>
						<td th:text="${dto.goHome()}"/>
						<td th:text="${dto.penalty}"/>
					</tr>
					</tbody>
				</table>
			</div>
		</div>
		
		<div class="bhAttendS">
			<div><h2>중소형견반 
				<span th:text="${realAttSmall}"/>/<span th:text="${totAttSmall}">
			</h2></div>
			<div>
				<table width="100%" class="bhAttTable" align="center">
					<thead>
					<tr>
						<td>번호</td>
						<td>이름</td>
						<td>메모</td>
						<td>교육</td>
						<td>구분</td>
						<td>등원</td>
						<td>하원</td>
						<td>패널티</td>
					</tr>
					</thead>
					
					<tbody>
					<tr th:each="dto, dtoStat: ${smallDog}">
						<td th:text="${dtoStat.index+1}" />
						<td><a th:href="@{|/admin/dogInform/${dto.dname}/${dto.pid}|}" th:text="${dto.dname}" class="bhTA"/></td>
						<td><a th:href="@{|/admin/attendMemo/${dto.todayNo}|}" th:text="확인" class="bhTA"/></td>
						<td th:text="${dto.edu}"/>
						<td th:text="${dto.kind}"/>
						<td th:text="${dto.attendTime()}"/>
						<td th:text="${dto.goHome()}"/>
						<td th:text="${dto.penalty}"/>
					</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</th:block>

<th:block layout:fragment="adAdd-content">
</th:block>




</html>