<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="total/adTemp">



<th:block layout:fragment="adTitle">
	<title>관리자_예약</title>
</th:block>

<th:block layout:fragment="adContent">
	
	<div class="shresermenu">
		<a href="/admin/reservation/1">이용권내역</a>
		<a href="/admin/endreservation/1">만료이용권내역</a>
		<a href="/admin/refund/1">환불내역</a>
	</div>
	<h2 class="bhH2">만료이용권내역</h2>
	
	<table align="center"  class="shtable">
		<form action="" th:object="${PData}" method="post">
			<tr>
				<td colspan="10" align="right" style="height:35px;">
					<select th:field="*{cate}">
						<option value="dname" selected>강아지 이름</option>
						<option value="pid" >아이디</option>
						<option value="kind">이용권종류</option>
					</select>
					<input type="text" th:field="*{sch}" class="bhInput"/> 
					
					<input type="submit" value="검색" class="bhBigButton"/>
				</td>
			</tr>
		</form>
		
		<tr align="center" class="shtitle">
			<td>예약번호</td>
			<td>아이디</td>
			<td>강아지이름</td>
			<td>크기</td>
			<td>이용권종류</td>
			<td>교육</td>
			<td>시작일</td>
			<td>종료일</td>
			<td>신청요일</td>
			<td>상태</td>
			
		</tr>
		<tr th:each="dto, dtostat : ${mainData}" style="height:30px; border-bottom: 1px solid#438c57;">
			<td align="center"><a th:href="@{|detail/${dto.reserNo}|}" th:text="${dto.reserNo}"></a></td>
			<td><a th:href="@{|detail/${dto.reserNo}|}" th:text="${dto.pid}" style="font-weight: bold; "></td>
			<td><a th:href="@{|detail/${dto.reserNo}|}" th:text="${dto.dname}" style="font-weight: bold; "></td>
			<td th:text="${dto.dogsize}"/>
			<td th:text="|${dto.kind} (${dto.gap()})|"/>
			<td th:text="${dto.edu}" align="center"/>
			<td th:text="${dto.sDate()}"/>
			<td th:text="${dto.eDate()}"/>
			<td th:text="${dto.weeks}"/>
			<td style="color:gray; font-weight: bold;">만료</td>
		</tr>
		<tr> 
			<td colspan="10" align="center" style="height:30px;">
				<th:block th:if="${pd.startPage > 1}"><a th:href="${pd.nowPage-1}" th:text="이전"></a></th:block>
					<span th:each="p : ${#numbers.sequence(pd.startPage, pd.endPage, 1)}" th:href="${p}">
						<th:block th:if="${pd.nowPage == p}"><button th:text="${p}" class="shp">[[${p}]]</button></th:block>
						<th:block th:unless="${pd.nowPage == p}"><a th:href="${p}" th:text="${p}"></a></th:block>
					</span>
					<th:block th:if="${pd.endPage < pd.totalPage}"><a th:href="${pd.endPage+1}" th:text="다음"></a></th:block>
			</td>
		</tr>
	
	</table>
	
	
</th:block>

</html>