<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="total/adTemp">



<th:block layout:fragment="adTitle">
	<title>관리자_예약</title>
</th:block>

<th:block layout:fragment="adContent">

	<script>
		function confirmation(button) {
		  var reserNo = button.value;
		  var result = confirm("환불을 진행하시겠습니까?");

		  if (result) {
		    // 확인을 선택한 경우 처리할 작업
		    
			  location.href="/admin/refund/clear/"+reserNo;
		   
		    
		  } else {
		    // 취소를 선택한 경우 처리할 작업
		    alert("취소하였습니다");
		  }
		}
	</script>

	
	<div class="shresermenu">
		<a href="/admin/reservation/1">이용권내역</a>
		<a href="/admin/endreservation/1">만료이용권내역</a>
		<a href="/admin/refund/1">환불내역</a>
	</div>
	
	<h2 class="bhH2">환불내역</h2>
	<table align="center" class="shtable">
		<form action="" th:object="${PData}" >
			<tr>
				<td colspan="12" align="right" style="height:35px;">
					환불 조회 기간 <input type="date" th:field="*{startD}" data-placeholder="연-월-일" class="bhDate" required style="width:120px"/>~
                	<input type="date" th:field="*{endD}" data-placeholder="연-월-일" class="bhDate" required style="width:120px"/>
                	<input type="submit" value="검색" class="bhSearSub">
					
				</td>
			</tr>
		</form>
		<tr align="center" class="shtitle">
			<td>예약번호</td>
			<td>아이디</td>
			<td>강아지이름</td>
			<td>이용권종류</td>
			<td>신청교육</td>
			<td>결제일</td>
			<td>결제금액</td>
			<td>환불은행</td>
			<td>환불계좌</td>
			<td>환불일자</td>
			<td>환불금액</td>
			<td style="width:80px">상태</td>
		</tr>
		<tr th:each="dto, dtostat : ${mainData}" style="height:40px; border-bottom: 1px solid#438c57;">
			<td th:text="${dto.reserNo}" align="center"/>
			<td th:text="${dto.pid}" style="font-weight: bold; "/>
			<td th:text="${dto.dname}" style="font-weight: bold; "/>
			<td th:text="|${dto.kind} (${dto.gap()})|"/>
			<td th:text="${dto.edu}" align="center"/>
			<td th:text="${dto.pDate()}"/>
			<td th:text="${dto.tpay()}"/>
			<td th:text="${dto.bank}"/>
			<td th:text="${dto.account}"/>
			<td th:text="${dto.rDate()}"/>
			<td th:text="${dto.refund()}" style="color:red; font-weight: bold;"/>
			
			<th:block th:if="${dto.refundChk}">
				<td style="color:red;">환불완료</td>
			</th:block>
			<th:block th:unless="${dto.refundChk}">
				<td>
					<button onclick="confirmation(this)" th:text="환불진행" th:value="${dto.reserNo}" class="bhAtBtn"/>
				</td>
			</th:block>
		</tr>
		<tr> 
			<td colspan="12" align="center" style="height:30px;">
				<th:block th:if="${pd.startPage > 1}"><a th:href="${pd.nowPage-1}" th:text="이전"></a></th:block>
					<span th:each="p : ${#numbers.sequence(pd.startPage, pd.endPage, 1)}" th:href="${p}">
						<th:block th:if="${pd.nowPage == p}"><button th:text="${p}" class="shp">[[${p}]]</button></th:block>
						<th:block th:unless="${pd.nowPage == p}"><a th:href="${p}" th:text="${p}"></a></th:block>
					</span>
				<th:block th:if="${pd.endPage < pd.totalPage}"><a th:href="${pd.endPage+1}" th:text="다음"></a></th:block>
			</td>
		</tr>
	
	</table>
	
	
	
</th:block>



</html>