<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="total/adTemp">



<th:block layout:fragment="adTitle">
	<title>관리자_예약</title>
</th:block>

<th:block layout:fragment="adContent">
	
	<div class="shresermenu">
		<a href="/admin/reservation/1">이용권내역</a>
		<a href="/admin/endreservation/1">만료이용권내역</a>
		<a href="/admin/refund/1">환불내역</a>
	</div>
	<h3>이용권리스트</h3>
	
	<table border="" align="center" style="">
		<form action="" th:object="${PData}" method="post">
			<tr>
				<td colspan="10" align="right">
					<select th:field="*{cate}">
						<option value="dname" selected>강아지 이름</option>
						<option value="pid" >아이디</option>
						<option value="kind">이용권종류</option>
					</select>
					<input type="text" th:field="*{sch}" /> 
					
					<input type="submit" value="검색" />
				</td>
			</tr>
		</form>
		
		<tr style=""align="center">
			<td>예약번호</td>
			<td>아이디</td>
			<td>강아지이름</td>
			<td>크기</td>
			<td>이용권종류</td>
			<td>교육</td>
			<td>시작일</td>
			<td>종료일</td>
			<td>신청요일</td>
			<td>상태</td>
			
		</tr>
		<tr th:each="dto, dtostat : ${mainData}">
			<td align="center"><a th:href="@{|detail/${dto.reserNo}|}" th:text="${dto.reserNo}"></a></td>
			<td><a th:href="@{|detail/${dto.reserNo}|}" th:text="${dto.pid}"></td>
			<td><a th:href="@{|detail/${dto.reserNo}|}" th:text="${dto.dname}"></td>
			<td th:text="${dto.dogsize}"/>
			<td th:text="|${dto.kind} (${dto.gap()})|"/>
			<td th:text="${dto.edu}" align="center"/>
			<td th:text="${dto.sDate()}"/>
			<td th:text="${dto.eDate()}"/>
			<td th:text="${dto.weeks}"/>
			<th:block th:if="${dto.state()}">
				<td style="color:tomato">진행예정</td>
			</th:block>
			<th:block th:unless="${dto.state()}">
				<td style="color:dodgerblue">진행중</td>
			</th:block>
			
		</tr>
		<tr> 
			<td colspan="10" align="center" >
				<th:block th:if="${pd.startPage > 1}"><a th:href="${pd.nowPage-1}" th:text="이전"></a></th:block>
					<span th:each="p : ${#numbers.sequence(pd.startPage, pd.endPage, 1)}" th:href="${p}">
						<th:block th:if="${pd.nowPage == p}"><button th:text="${p}">[[${p}]]</button></th:block>
						<th:block th:unless="${pd.nowPage == p}"><a th:href="${p}" th:text="${p}"></a></th:block>
					</span>
					<th:block th:if="${pd.endPage < pd.totalPage}"><a th:href="${pd.endPage+1}" th:text="다음"></a></th:block>
			</td>
		</tr>
	
	</table>
	
	
	
	
</th:block>

</html>