<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="total/adTemp">

<th:block layout:fragment="adTitle">
	<title>관리자_매출</title>
</th:block>

<th:block layout:fragment="adContent">

<script>

var startDateInput = document.getElementById("start");
var endDateInput = document.getElementById("end");

startDateInput.addEventListener("change", function() {
  endDateInput.min = startDateInput.value;
});
	
</script>
	
	<div class="shresermenu">
		<a href="/admin/sales/1">매출내역</a>
		<a href="/admin/statistics">매출통계</a>
	</div>
	
	<h2 class="bhH2">매출내역</h2>

	<table align="center" style="width:1020px;" class="shtable">
		<form action="" th:object="${PData}" >
			<tr>
				<td colspan="10" align="right" style="height:35px;">
					매출 조회 기간 <input type="date" id="start" th:field="*{startD}" data-placeholder="연-월-일" class="bhDate" required style="width:120px"/>~
                	<input type="date" id="end" th:field="*{endD}" data-placeholder="연-월-일" class="bhDate" required  style="width:120px"/>
                	<input type="submit" value="검색" class="bhSearSub">
					
				</td>
			</tr>
		</form> 
		<tr align="center" class="shtitle">
			<td style="width:42px;">번호</td>
			<td style="width:60px;">아이디</td>
			<td style="width:79px;">강아지이름</td>
			<td style="width:98px;">이용권종류</td>
			<td style="width:50px;">신청교육</td>
			<td style="width:126px;">결제일자</td>
			<td style="width:77px;">이용권금액</td>
			<td style="width:40px;">교육비</td>
			<td style="width:80px;">결제금액</td>
			<td style="width:65px;">환불금액</td>
		</tr>
	</table>
	<div  class="shsales">
			<div class="shsales2" th:each="dto, dtostat : ${mainData}" style="height:32px;">
				<div th:text="${dto.reserNo}" style="width:58px;"></div>
				<div th:text="${dto.pid}"style="width:84px;"></div>
				<div th:text="${dto.dname}"style="width:108px;"></div>
				<div th:text="|${dto.kind} (${dto.gap()})|" style="width:143px;"></div>
				<div th:text="${dto.edu}" style="width:68px;"></div>
				<div th:text="${dto.pDate()}" style="width:180px;"></div>
				<div th:text="${dto.pay()}" style="width:104px;"></div>
				<div th:text="${dto.epay()}" style="width:45px;"></div>
				<div th:text="${dto.tpay()}" style="color:blue; width:123px; font-weight: bold;"></div>
				<th:block th:if="${dto.refund().isEmpty()}">
					<div th:text="0" style="color:#fff; width:70px; "></div>
				</th:block>
				<th:block th:unless="${dto.refund>0 && !dto.refundChk}">
					<div th:text="${dto.refund()}" style="color:red; width:70px; font-weight: bold; "></div>
				</th:block>
				
			</div>
		</div>
	<table align="center" style="width:1020px;" class="shtable">
		<tr>
			<td colspan="5" th:text="결제금액" style="border-right:1px solid#438c57; height:30px; font-weight: bold; border-bottom: 1px solid#438c57;"></td>
			<td colspan="9" th:text="|+${tf}|" style="color:blue; font-weight: bold; border-bottom: 1px solid#438c57;" align="right"></td>
		</tr>
		<tr>
			<td colspan="5" th:text="환불금액" style="border-right:1px solid#438c57; height:30px; font-weight: bold; border-bottom: 1px solid#438c57;"></td>
			<td colspan="9" th:text="|-${rf}|" style="color:red; font-weight: bold; border-bottom: 1px solid#438c57;" align="right"></td>
		</tr>
		<tr>
			<td colspan="5" style="border-right:1px solid#438c57; height:50px;  font-weight: bold; border-bottom: 1px solid#438c57;">총 매출액</td>
			<td colspan="9" th:text="|${tot}원|" style="color:blue; font-weight: bold; font-size:1.2rem; border-bottom: 1px solid#438c57;" align="right"></td>
		</tr>
	</table>
	
	
</th:block>

<th:block layout:fragment="adAdd-content">
</th:block>

</html>