<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="total/adTemp">

<th:block layout:fragment="adTitle">
	<title>관리자_문의삭제</title>
</th:block>

<th:block layout:fragment="adContent">
	<h2 class="bhH2">1:1 문의삭제</h2>
	
	<div class="bhH2">
		정말로 문의를 삭제하시겠습니까?
		<br/>
		<br/>
		<form method="post">
			<table align="center" class="bhDeletT">
				<tr>
					<td><a th:href="|/admin/answer/${bhAnsData.no}|" th:text="뒤로" class="bhBigButton"></a></td>
					<td><input type="submit" value="삭제" class="bhRedButton"/></td>
				</tr>
			</table>
		</form>
	</div>

</th:block>

<th:block layout:fragment="adAdd-content">
</th:block>

</html>