<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="total/adTemp">

<th:block layout:fragment="adTitle">
	<title>관리자_문의상세</title>
</th:block>

<th:block layout:fragment="adContent">
	<h2 class="bhH2">1:1 문의 상세</h2>

	<table align="center" class="bhTableD">
		<tr>
			<td class="bhTableDColor">제목</td><td th:text="${bhAnsData.title}" />
			<td class="bhTableDColor">작성자</td><td th:text="${bhAnsData.pid}"/>
		</tr><tr>
			<td class="bhTableDColor">질문등록일</td><td th:text="${bhAnsData.reg_dateStr()}" />
			<td class="bhTableDColor">조회수</td><td th:text="${bhAnsData.cnt}" />
		</tr><tr>
			<td class="bhTableDColor">내용</td><td colspan="3" th:utext="${bhAnsData.getContentBr()}"/>
		</tr>
	<th:block th:if="${bhAnsData.getAnswer != null}">
		<tr><td colspan="4"> --- 답변 --- </td></tr>
		<tr>
			<td class="bhTableDColor">답변</td><td colspan="3" th:utext="${bhAnsData.getAnswerBr()}" />
		</tr><tr>
			<td class="bhTableDColor">작성관리자</td><td th:text="${bhAnsData.adminId}" />
			<td class="bhTableDColor">답변 등록일</td><td th:text="${bhAnsData.answerDateStr()}" />
		</tr>
	</th:block>
		<tr>
			<td colspan="4" align="center">
				<a th:href="|/admin/answerList/1|" class="bhBigButton">뒤로</a>
				<a th:href="|/admin/ansInsert/${bhAnsData.no}|"  th:if="${bhAnsData.getAnswer == null}" class="bhBigButton">답변작성</a>
				<a th:href="|/admin/ansModi/${bhAnsData.no}|"  th:if="${bhAnsData.getAnswer != null}" class="bhBigButton">수정</a>
				<a th:href="|/admin/ansDelete/${bhAnsData.no}|" class="bhBigButton" >삭제</a>	
			</td>
		</tr>
	</table>



</th:block>

<th:block layout:fragment="adAdd-content">
</th:block>

</html>