<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="total/adTemp">

<th:block layout:fragment="adTitle">
	<title>관리자_질문리스트</title>
</th:block>

<th:block layout:fragment="adContent">
	<h2 class="bhH2">1:1 질문</h2>
	<div>
		<table align="center" class="bhTable">
			<thead>
<!--검색폼-->
			<form action="" th:object="${bhQnADTO}">
				<tr>
					<td colspan="7" align="center">
						<select th:field="*{kind}" class="bhSelLong">
							<option value="title">제목</option>
							<option value="content">내용</option>
							<option value="pid">회원아이디</option>
						</select>
						<input type="text" th:field="*{sch}" class="bhInput"/>
						<input type="submit" value="검색" class="bhSearSub"/>
					</td>
				</tr>
			</form>
			
			<tr>
				<td>번호</td>
				<td>제목</td>
				<td>질문작성자</td>
				<td>질문등록일</td>
				<td>상태</td>
			</tr>
			</thead>
			
			<tbody>
			<tr th:each="dto, dtoStat: ${bhAnsData}">
				<td th:text="${pd.start}+${dtoStat.index}+1"/>
				<td><a th:href="@{|/admin/answer/${dto.no}|}" th:text="${dto.title}" class="bhTA"/></td>
				<td th:text="${dto.pid}"/>
				<td th:text="${dto.reg_dateStr()}"/>
				<th:block th:if="${dto.AnsOrNot().equals('답변대기중')}">
				<td th:text="${dto.AnsOrNot()}" style="color: red;"/>
				</th:block>
				<th:block th:unless="${dto.AnsOrNot().equals('답변대기중')}">
				<td th:text="${dto.AnsOrNot()}"/>
				</th:block>
			</tr>
			
			<tr> 
				<td colspan="7" align="center" style="height:30px;">
					<th:block th:if="${pd.startPage > 1}">
						<a th:href="${pd.nowPage-1}" th:text="이전"></a>
					</th:block>
					<span th:each="p : ${#numbers.sequence(pd.startPage, pd.endPage, 1)}" th:href="${p}">
						<th:block th:if="${pd.nowPage == p}"><button th:text="${p}" class="shp">[[${p}]]</button></th:block>
						<th:block th:unless="${pd.nowPage == p}"><a th:href="${p}" th:text="${p}"></a></th:block>
					</span>
					<th:block th:if="${pd.endPage < pd.totalPage}">
						<a th:href="${pd.endPage+1}" th:text="다음"></a>
					</th:block>
				</td>
			</tr>
			
			</tbody>
		</table>
		
	</div>

</th:block>

<th:block layout:fragment="adAdd-content">
</th:block>

</html>