<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="total/adTemp">

<th:block layout:fragment="adTitle">
	<title>관리자 페이지</title>
</th:block>

<th:block layout:fragment="adContent">
	<script type="text/javascript" src="/qqq/jquery_3_6_3.js"></script>
	<script th:inline="javascript">
		function attend(button) {
			var todayNo = button.value; // 버튼의 값 가져오기
			
			$.ajax({
				url: "/admin/attendTime", //실행코드가 있는 컨트롤러의 메소드
				type: "POST",
				data: {todayNo: todayNo},
				success: function (res) {
					alert(res);
					location.reload(); //화면새로고침
				},
				error: function (ee) {
					// 실패하면 에러메시지
					console.log(ee);
					console.log(todayNo);
				},
			});
		}
		
		function afterSchool(button) {
			var todayNo = button.value; // 버튼의 값 가져오기
			
			$.ajax({
				url: "/admin/afterHome", //실행코드가 있는 컨트롤러의 메소드
				type: "POST",
				data: { todayNo: todayNo },
				success: function (res) {
					alert(res);
					location.reload(); //화면새로고침
				},
				error: function (ee) {
					// 실패하면 에러메시지
					console.log(ee);
					console.log(todayNo);
				},
			});
		}
	</script>

	<div class="bhMidMenu">
		<div><a href="/admin">오늘의 등원</a></div>
		<div><a href="/admin/attList">출석부</a></div>
	</div>
	
	<div class="bhAttend">
		<h3 th:text="${reser.todayStr()}"/>
		<h2 th:text="'오늘의 등원'"/>
	</div>
	
	<div class="bhAttendBig">
		<div class="bhAttendS">
			<div><h2>대형견반 
				<span th:text="${realAttBig}"/>/<span th:text="${totAttBig}">
			</h2></div>
			<div>
				<table width="100%" class="bhAttTable" align="center">
					<thead>
					<tr>
						<td>번호</td>
						<td>이름</td>
						<td>기록</td>
						<td>교육</td>
						<td>요청사항</td>
						<td>구분</td>
						<td>등하원</td>
					</tr>
					</thead>
					
					<tbody>
					<th:block th:each="big : ${totBig}">
						<tr th:if="${big.size()!=0}"><td colspan="7" class="bhedu">
							<span th:if="${big[0].edu.equals('-')}" >교육 없음</span>
							<span th:unless="${big[0].edu.equals('-')}" th:text="${big[0].edu}+' 교육'"></span>
						</td></tr>
					<th:block th:each="dto, dtoStat: ${big}">
						<tr>
							<td th:text="${dtoStat.index+1}" />
							<td><a th:href="@{|/admin/dogInform/${dto.dname}/${dto.pid}|}" th:text="${dto.dname}" class="bhTA"/></td>
							<td><a th:href="@{|/admin/attendMemo/${dto.todayNo}|}" th:text="입력" class="bhTA"/></td>
							<td th:text="${dto.edu}"/>
							<td th:text="${dto.reque}"/>
							<td th:text="${dto.kind}"/>
							<td>
								<button onclick="attend(this)" th:if="${dto.attendTime==null}" th:text="등원" th:value="${dto.todayNo}" class="bhAtBtn"/>
								<button onclick="afterSchool(this)" th:if="${dto.attendTime!=null and dto.goHome==null}" 
										th:text="하원" th:value="${dto.todayNo}" class="bhGoBtn"/>
								<span th:text="하원완료" th:if="${dto.goHome!=null and dto.goHome!=null and dto.penalty == 0}" class="bhGoDone"/>
								<span th:text="${dto.penalty}" th:if="${dto.goHome!=null and dto.goHome!=null and dto.penalty > 0}" class="bhPanelty"/>
							</td>
						</tr>
					</th:block>
					</th:block>
					</tbody>
				</table>
			</div>
		</div>
		
		<div class="bhAttendS">
			<div><h2>중소형견반 <span th:text="${realAttSmall}"/>/<span th:text="${totAttSmall}"></h2></div>
			<div>
				<table width="100%" class="bhAttTable" align="center">
					<thead>
					<tr>
						<td>번호</td>
						<td>이름</td>
						<td>기록</td>
						<td>교육</td>
						<td>요청사항</td>
						<td>구분</td>
						<td>등하원</td>
					</tr>
					</thead>
					
					<tbody>
					<th:block th:each="small : ${totSmall}">
						<tr th:if="${small.size()!=0}"><td colspan="7" class="bhedu">
							<span th:if="${small[0].edu.equals('-')}" th:text="'교육 없음'"></span>
							<span th:unless="${small[0].edu.equals('-')}" th:text="${small[0].edu}+' 교육'"></span>
						</td></tr>
					<th:block th:each="dto, dtoStat: ${small}">
						<tr>
							<td th:text="${dtoStat.index+1}" />
							<td><a th:href="@{|/admin/dogInform/${dto.dname}/${dto.pid}|}" th:text="${dto.dname}" class="bhTA"/></td>
							<td><a th:href="@{|/admin/attendMemo/${dto.todayNo}|}" th:text="입력" class="bhTA"/></td>
							<td th:text="${dto.edu}"/>
							<td th:text="${dto.reque}"/>
							<td th:text="${dto.kind}"/>
							<td>
								<button onclick="attend(this)" th:if="${dto.attendTime==null}" th:text="등원" th:value="${dto.todayNo}" class="bhAtBtn"/>
								<button onclick="afterSchool(this)" th:if="${dto.attendTime!=null and dto.goHome==null}" 
										th:text="하원" th:value="${dto.todayNo}" class="bhGoBtn"/>
								<span th:if="${dto.goHome!=null and dto.goHome!=null and dto.penalty == 0}" class="bhGoDone">하원완료</span>
								<span th:text="${dto.penalty}" th:if="${dto.goHome!=null and dto.goHome!=null and dto.penalty > 0}" class="bhPanelty"/>
							</td>
						</tr>
					</th:block>
					</th:block>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	
</th:block>

<th:block layout:fragment="adAdd-content">
</th:block>




</html>